
/*====================================================*/
/* FILE /plugins/image-zoom/css/theme1.css*/
/*====================================================*/
.gallery_colorbox {
	cursor: url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/zoomin.cur), pointer; 
}

#colorbox, #cboxOverlay{
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:9999;
}
#cboxWrapper{}
#cboxOverlay{
	background:#000;
}
#colorbox{
}
#cboxContent{
	margin-top:20px;
}
.cboxIframe{
	background:#fff;
}
#cboxError{
	padding:50px; 
	border:1px solid #ccc;
}
#cboxLoadedContent{
	border:5px solid #000; 
	background:#fff;
}
#cboxTitle{
	border:5px; 
	padding:5px; 
	color:#ccc;
}
#cboxTitle h2{
	font-size:110%;
	font-weight:bold ; 
}
#cboxCurrent{
	position:absolute; 
	top:-20px; 
	right:0px; 
	color:#ccc;
}

#cboxPrevious{
	position:absolute; 
	top:50%; 
	left:4px; 
	margin-top:-32px; 
	background:url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/theme1.png) no-repeat; 
	background-position:0px 0px;
	width:28px; 
	height:65px; 
	text-indent:-9999px;
}
#cboxPrevious:hover{
	background-position:0px -64px;
}
#cboxNext{
	position:absolute; 
	top:50%; 
	right:4px; 
	margin-top:-32px; 
	background:url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/theme1.png) no-repeat ; 
	background-position:-70px 0px;
	width:28px; 
	height:65px; 
	text-indent:-9999px;
}
#cboxNext:hover{
	background-position:-70px -64px;
}
#cboxLoadingOverlay{
	background:#000;
}
#cboxLoadingGraphic{
	background:url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/loading.gif) no-repeat center center;
}
#cboxClose{
	position:absolute; 
	top:5px; 
	right:-10px; 
	display:block; 
	background:url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/theme1.png) no-repeat ;
	background-position:-35px 0px; 
	width:28px; 
	height:26px; 
	text-indent:-9999px;
}
#cboxClose:hover{
	background-position:-35px -29px; 
}

.cboxSlideshow_off #cboxSlideshow{
	position:absolute; 
	bottom:4px; 
	left: 50%;
    margin-left: -32px;
	display:block; 
	background:url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/theme1.png) no-repeat ;
	background-position:-16px -131px; 
	width:65px; 
	height:29px; 
	text-indent:-9999px;
}
.cboxSlideshow_off #cboxSlideshow:hover{
	background-position:-16px -161px; 
}

.cboxSlideshow_on #cboxSlideshow{
	position:absolute; 
	bottom:4px; 
	left: 50%;
    margin-left: -32px;
	display:block; 
	background:url(http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/img/theme1.png) no-repeat ;
	background-position:-16px -194px; 
	width:65px; 
	height:29px; 
	text-indent:-9999px;
}
.cboxSlideshow_on #cboxSlideshow:hover{
	background-position:-16px -225px; 
}
	
