<p>Las frases utilizadas en este plugin son en Inglés. Ayude a otros usuarios que utilizan su mismo idioma a traducirlo.</p><p>This plugin is available in 14 languages.</p><p>There are 42 sentences to be translated in this plugin.</p>					<table class="widefat fixed" cellspacing="0">
						<thead>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Lenguaje</th>
									<th class="manage-column column-columnname" scope="col">Proporción %</th>
									<th class="manage-column column-columnname" scope="col">Traductores</th>
								</tr>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Lenguaje</th>
									<th class="manage-column column-columnname" scope="col">Proporción %</th>
									<th class="manage-column column-columnname" scope="col">Traductores</th>
								</tr>
							</tr>
						</tfoot>
						<tbody>
							<tr class="alternate" valign="top" id="lignear_SY"> 
								<td class="column-columnname">
									<span id="cell_ar_SY_1" ><span class='pt_flag' style='background-position: -54px -108px;'>&nbsp;</span><b>العربية/سوريا</b> (ar_SY)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ar_SY_ar_SY').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ar_SY_ar_SY').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ar_SY') ; return false ; " id="modify_transimagezoomimagezoom_false_ar_SY_ar_SY">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_ar_SY_ar_SY' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_SY_2" ><p><b>32/42</b> frases han sido traducidas (p. ej. <b>76.1%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_SY_3" >aboRoma &lt;<a href='mailto:jacksacali@gmail.com'>jacksacali@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignebg_BG"> 
								<td class="column-columnname">
									<span id="cell_bg_BG_1" ><span class='pt_flag' style='background-position: 0px -12px;'>&nbsp;</span><b>Български</b> (bg_BG)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_bg_BG_bg_BG').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_bg_BG_bg_BG').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'bg_BG') ; return false ; " id="modify_transimagezoomimagezoom_false_bg_BG_bg_BG">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_bg_BG_bg_BG' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_2" ><p><b>29/42</b> frases han sido traducidas (p. ej. <b>69%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_3" >Vangelov &lt;<a href='mailto:vangelov@stselectronics.eu'>vangelov@stselectronics.eu</a>&gt;, KalinLynnDimitrov &lt;<a href='mailto:cassidycornell@abv.bg'>cassidycornell@abv.bg</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignecs_CZ"> 
								<td class="column-columnname">
									<span id="cell_cs_CZ_1" ><span class='pt_flag' style='background-position: -72px -24px;'>&nbsp;</span><b>Čeština</b> (cs_CZ)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'cs_CZ') ; return false ; " id="modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_cs_CZ_cs_CZ' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_2" ><p><b>24/42</b> frases han sido traducidas (es decir, <b>57.1%</b>) <span style='color:#CCCCCC'> 1 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_3" >jurajh, LukasProkop (<a href='http://lukasp.eu'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignede_DE"> 
								<td class="column-columnname">
									<span id="cell_de_DE_1" ><span class='pt_flag' style='background-position: -108px -24px;'>&nbsp;</span><b>Deutsch/Deutschland</b> (de_DE)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_de_DE_de_DE').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_de_DE_de_DE').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'de_DE') ; return false ; " id="modify_transimagezoomimagezoom_false_de_DE_de_DE">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_de_DE_de_DE' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_2" ><p><b>17/42</b> frases han sido traducidas (p. ej. <b>40.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_3" >tcp443 (<a href='http://www.tcp443.de'>his website</a>), B.Klein (<a href='http://www.kpowered.de'>his website</a>), Frutte (<a href='http://www.figaros-netzwerk.de'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneen_US"> 
								<td class="column-columnname">
									<span id="cell_en_US_1" ><span class='pt_flag' style='background-position: -198px -108px;'>&nbsp;</span><b>English/United States</b> (en_US)</span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_2" ><p style='color:#CCCCCC'>Este es el idioma por defecto del plugin. No se puede modificar.</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_3" ></span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignees_ES"> 
								<td class="column-columnname">
									<span id="cell_es_ES_1" ><span class='pt_flag' style='background-position: -72px -36px;'>&nbsp;</span><b>Español/España</b> (es_ES)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_es_ES_es_ES').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_es_ES_es_ES').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'es_ES') ; return false ; " id="modify_transimagezoomimagezoom_false_es_ES_es_ES">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_es_ES_es_ES' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_2" ><p><b>34/42</b> frases han sido traducidas (p. ej. <b>80.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_3" >genteblackberry (<a href='http://newgenteblackberry.com'>his website</a>), Wildsouth &lt;<a href='mailto:wildsout@gmail.com'>wildsout@gmail.com</a>&gt;, Paul (<a href='http://www.tecnofilos.net'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignefr_FR"> 
								<td class="column-columnname">
									<span id="cell_fr_FR_1" ><span class='pt_flag' style='background-position: -144px -36px;'>&nbsp;</span><b>Français/France</b> (fr_FR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_fr_FR_fr_FR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_fr_FR_fr_FR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'fr_FR') ; return false ; " id="modify_transimagezoomimagezoom_false_fr_FR_fr_FR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_fr_FR_fr_FR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_2" ><p><b>34/42</b> frases han sido traducidas (p. ej. <b>80.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), mediacop, FlorianP. &lt;<a href='mailto:floflo63400@gmail.com'>floflo63400@gmail.com</a>&gt;, LaurentChemla &lt;<a href='mailto:laurent@brainstorm.fr'>laurent@brainstorm.fr</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignehr_HR"> 
								<td class="column-columnname">
									<span id="cell_hr_HR_1" ><span class='pt_flag' style='background-position: -54px -48px;'>&nbsp;</span><b>Hrvatski</b> (hr_HR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_hr_HR_hr_HR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_hr_HR_hr_HR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'hr_HR') ; return false ; " id="modify_transimagezoomimagezoom_false_hr_HR_hr_HR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_hr_HR_hr_HR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_hr_HR_2" ><p><b>14/42</b> frases han sido traducidas (es decir, <b>33.3%</b>) <span style='color:#CCCCCC'> 1 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_hr_HR_3" >Rene (<a href='http://thefalljourney.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignehu_HU"> 
								<td class="column-columnname">
									<span id="cell_hu_HU_1" ><span class='pt_flag' style='background-position: -72px -48px;'>&nbsp;</span><b>Magyar</b> (hu_HU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_hu_HU_hu_HU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_hu_HU_hu_HU').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'hu_HU') ; return false ; " id="modify_transimagezoomimagezoom_false_hu_HU_hu_HU">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_hu_HU_hu_HU' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_hu_HU_2" ><p><b>8/42</b> frases han sido traducidas (es decir, <b>19%</b>) <span style='color:#CCCCCC'> 1 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_hu_HU_3" >Metoyou (<a href='http://webdesignelemek.hu'>his website</a>), DvnyiFerenc (<a href='http://webdesignelemek.hu'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignelt_LT"> 
								<td class="column-columnname">
									<span id="cell_lt_LT_1" ><span class='pt_flag' style='background-position: -36px -72px;'>&nbsp;</span><b>Lietuvių/Lietuva</b> (lt_LT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_lt_LT_lt_LT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_lt_LT_lt_LT').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'lt_LT') ; return false ; " id="modify_transimagezoomimagezoom_false_lt_LT_lt_LT">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_lt_LT_lt_LT' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_lt_LT_2" ><p><b>17/42</b> frases han sido traducidas (p. ej. <b>40.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_lt_LT_3" >ydrius (<a href='http://meninisautolyginimas.lt'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignenl_NL"> 
								<td class="column-columnname">
									<span id="cell_nl_NL_1" ><span class='pt_flag' style='background-position: -54px -84px;'>&nbsp;</span><b>Nederlands / Nederland</b> (nl_NL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_nl_NL_nl_NL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_nl_NL_nl_NL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'nl_NL') ; return false ; " id="modify_transimagezoomimagezoom_false_nl_NL_nl_NL">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_nl_NL_nl_NL' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_2" ><p><b>34/42</b> frases han sido traducidas (p. ej. <b>80.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_3" >PC-Rider &lt;<a href='mailto:annodevries@gmail.com'>annodevries@gmail.com</a>&gt;, Erik (<a href='http://www.digihulpdienst.nl'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignepl_PL"> 
								<td class="column-columnname">
									<span id="cell_pl_PL_1" ><span class='pt_flag' style='background-position: 0px -96px;'>&nbsp;</span><b>Polski/Polska</b> (pl_PL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_pl_PL_pl_PL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_pl_PL_pl_PL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'pl_PL') ; return false ; " id="modify_transimagezoomimagezoom_false_pl_PL_pl_PL">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_pl_PL_pl_PL' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_2" ><p><b>29/42</b> frases han sido traducidas (p. ej. <b>69%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_3" >rzuf &lt;<a href='mailto:info@andrek.info'>info@andrek.info</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneru_RU"> 
								<td class="column-columnname">
									<span id="cell_ru_RU_1" ><span class='pt_flag' style='background-position: -126px -96px;'>&nbsp;</span><b>Русский/Россия</b> (ru_RU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_ru_RU_ru_RU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_ru_RU_ru_RU').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'ru_RU') ; return false ; " id="modify_transimagezoomimagezoom_false_ru_RU_ru_RU">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_ru_RU_ru_RU' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_2" ><p><b>28/42</b> frases han sido traducidas (p. ej. <b>66.6%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_3" >sever (<a href='http://magadansever.ru'>his website</a>), Sprigin (<a href='http://Sprigin.ru'>his website</a>), vyachek &lt;<a href='mailto:vyachek@op.pl'>vyachek@op.pl</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignevi_VN"> 
								<td class="column-columnname">
									<span id="cell_vi_VN_1" ><span class='pt_flag' style='background-position: -54px -120px;'>&nbsp;</span><b>Tiếng Việt</b> (vi_VN)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_false_vi_VN_vi_VN').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_false_vi_VN_vi_VN').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'false', 'vi_VN') ; return false ; " id="modify_transimagezoomimagezoom_false_vi_VN_vi_VN">Modificar</a><img id='wait_modify_transimagezoomimagezoom_false_vi_VN_vi_VN' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_2" ><p><b>17/42</b> frases han sido traducidas (p. ej. <b>40.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_3" >Khco (<a href='http://khacdao.tk'>his website</a>)</span>
								</td>
							</tr> 
						</tbody>
					</table>
<br/><h3>Añadir una traducción</h3><p>Puede añadir una nueva traducción a continuación (se recomienda enviar su traducción al autor para que pueda incorporarla a futuras actualizaciones del plugin)</p><SELECT id='new_translation' name='new_translation' size='1'><option name='af_AF' value='af_AF' id='af_AF'>Afrikaans</option>
<option name='ar_AE' value='ar_AE' id='ar_AE'>العربية/الإمارات</option>
<option name='ar_BH' value='ar_BH' id='ar_BH'>العربية/البحرين</option>
<option name='ar_DZ' value='ar_DZ' id='ar_DZ'>العربية/الجزائر</option>
<option name='ar_EG' value='ar_EG' id='ar_EG'>العربية/مصر</option>
<option name='ar_IQ' value='ar_IQ' id='ar_IQ'>العربية/العراق</option>
<option name='ar_JO' value='ar_JO' id='ar_JO'>العربية/الأردن</option>
<option name='ar_KW' value='ar_KW' id='ar_KW'>العربية/الكويت</option>
<option name='ar_LB' value='ar_LB' id='ar_LB'>العربية/لبنان</option>
<option name='ar_LY' value='ar_LY' id='ar_LY'>العربية/ليبيا</option>
<option name='ar_MA' value='ar_MA' id='ar_MA'>العربية/المغرب</option>
<option name='ar_OM' value='ar_OM' id='ar_OM'>العربية/سلطنة عمان</option>
<option name='ar_QA' value='ar_QA' id='ar_QA'>العربية/قطر</option>
<option name='ar_SA' value='ar_SA' id='ar_SA'>العربية/السعودية</option>
<option name='ar_TN' value='ar_TN' id='ar_TN'>العربية/تونس</option>
<option name='ar_YE' value='ar_YE' id='ar_YE'>العربية/اليمن</option>
<option name='az_AZ' value='az_AZ' id='az_AZ'>Azərbaycan</option>
<option name='be_BY' value='be_BY' id='be_BY'>Беларускі</option>
<option name='by_BY' value='by_BY' id='by_BY'>Беларускі</option>
<option name='ca_ES' value='ca_ES' id='ca_ES'>Сatalà/Espanya</option>
<option name='da_DK' value='da_DK' id='da_DK'>Dansk</option>
<option name='de_AT' value='de_AT' id='de_AT'>Deutsch/Österreich</option>
<option name='de_CH' value='de_CH' id='de_CH'>Deutsch/Schweiz</option>
<option name='de_LU' value='de_LU' id='de_LU'>Deutsch/Luxemburg</option>
<option name='el_CY' value='el_CY' id='el_CY'>Ελληνικά/Κύπρος</option>
<option name='el_GR' value='el_GR' id='el_GR'>Ελληνικά/Ελλάδα</option>
<option name='el_EL' value='el_EL' id='el_EL'>Ελληνικά/Ελλάδα</option>
<option name='en_AU' value='en_AU' id='en_AU'>English/Australia</option>
<option name='en_CA' value='en_CA' id='en_CA'>English/Canada</option>
<option name='en_GB' value='en_GB' id='en_GB'>English/United Kingdom</option>
<option name='en_IE' value='en_IE' id='en_IE'>English/Ireland</option>
<option name='en_NZ' value='en_NZ' id='en_NZ'>English/New Zealand</option>
<option name='en_PH' value='en_PH' id='en_PH'>English/Philippines</option>
<option name='en_ZA' value='en_ZA' id='en_ZA'>English/South Africa</option>
<option name='eo_EO' value='eo_EO' id='eo_EO'>Esperanto</option>
<option name='es_AR' value='es_AR' id='es_AR'>Español/Argentina</option>
<option name='es_BO' value='es_BO' id='es_BO'>Español/Bolivia</option>
<option name='es_CL' value='es_CL' id='es_CL'>Español/Chile</option>
<option name='es_CO' value='es_CO' id='es_CO'>Español/Colombia</option>
<option name='es_CR' value='es_CR' id='es_CR'>Español/Costa Rica</option>
<option name='es_DO' value='es_DO' id='es_DO'>Español/República Dominicana</option>
<option name='es_EC' value='es_EC' id='es_EC'>Español/Ecuador</option>
<option name='es_GT' value='es_GT' id='es_GT'>Español/Guatemala</option>
<option name='es_HN' value='es_HN' id='es_HN'>Español/Honduras</option>
<option name='es_MX' value='es_MX' id='es_MX'>Español/México</option>
<option name='es_NI' value='es_NI' id='es_NI'>Español/Nicaragua</option>
<option name='es_PA' value='es_PA' id='es_PA'>Español/Panamá</option>
<option name='es_PE' value='es_PE' id='es_PE'>Español/Perú</option>
<option name='es_PR' value='es_PR' id='es_PR'>Español/Puerto Rico</option>
<option name='es_PY' value='es_PY' id='es_PY'>Español/Paraguay</option>
<option name='es_SV' value='es_SV' id='es_SV'>Español/El Salvador</option>
<option name='es_UY' value='es_UY' id='es_UY'>Español/Uruguay</option>
<option name='es_VE' value='es_VE' id='es_VE'>Español/Venezuela</option>
<option name='et_EE' value='et_EE' id='et_EE'>Eesti/Eesti</option>
<option name='eu_ES' value='eu_ES' id='eu_ES'>Euskara/Basque</option>
<option name='fa_IR' value='fa_IR' id='fa_IR'>فارسی</option>
<option name='fi_FI' value='fi_FI' id='fi_FI'>Suomi</option>
<option name='fo_FO' value='fo_FO' id='fo_FO'>Føroyskt</option>
<option name='fr_BE' value='fr_BE' id='fr_BE'>Français/Belgique</option>
<option name='fr_CA' value='fr_CA' id='fr_CA'>Français/Canada</option>
<option name='fr_CH' value='fr_CH' id='fr_CH'>Français/Suisse</option>
<option name='fr_LU' value='fr_LU' id='fr_LU'>Français/Luxembourg</option>
<option name='fy_NL' value='fy_NL' id='fy_NL'>Frysk</option>
<option name='ga_IE' value='ga_IE' id='ga_IE'>Gaeilge/Éire</option>
<option name='gl_ES' value='gl_ES' id='gl_ES'>Galician/Galicia</option>
<option name='he_IL' value='he_IL' id='he_IL'>עברית</option>
<option name='hi_IN' value='hi_IN' id='hi_IN'>हिन्दी</option>
<option name='id_ID' value='id_ID' id='id_ID'>Bahasa Indonesia</option>
<option name='in_ID' value='in_ID' id='in_ID'>Bahasa Indonesia/Indonesia</option>
<option name='is_IS' value='is_IS' id='is_IS'>Íslenska/Ísland</option>
<option name='it_CH' value='it_CH' id='it_CH'>Italiano/Svizzera</option>
<option name='it_IT' value='it_IT' id='it_IT'>Italiano/Italia</option>
<option name='ja_JP' value='ja_JP' id='ja_JP'>日本語</option>
<option name='kk_KK' value='kk_KK' id='kk_KK'>Қазақша</option>
<option name='ko_KR' value='ko_KR' id='ko_KR'>한국어</option>
<option name='ky_KY' value='ky_KY' id='ky_KY'>Кыргызча</option>
<option name='lb_LB' value='lb_LB' id='lb_LB'>Lëtzebuergesch</option>
<option name='lv_LV' value='lv_LV' id='lv_LV'>Latviešu/Latvija</option>
<option name='mk_MK' value='mk_MK' id='mk_MK'>Македонски/Македонија</option>
<option name='nb_NB' value='nb_NB' id='nb_NB'>‪Norsk Bokmål‬</option>
<option name='nb_NO' value='nb_NO' id='nb_NO'>‪Norsk Bokmål‬</option>
<option name='nl_BE' value='nl_BE' id='nl_BE'>Nederlands / België</option>
<option name='nn_NN' value='nn_NN' id='nn_NN'>Norsk / Nynorsk</option>
<option name='no_NO' value='no_NO' id='no_NO'>Norsk / Norge</option>
<option name='pt_BR' value='pt_BR' id='pt_BR'>Português/Brasil</option>
<option name='pt_PT' value='pt_PT' id='pt_PT'>Português/Portugal</option>
<option name='ro_RO' value='ro_RO' id='ro_RO'>Română/România</option>
<option name='sk_SK' value='sk_SK' id='sk_SK'>Slovenčina/Slovenská republika</option>
<option name='sl_SI' value='sl_SI' id='sl_SI'>Slovenščina/Slovenija</option>
<option name='sq_AL' value='sq_AL' id='sq_AL'>Shqip</option>
<option name='sr_BA' value='sr_BA' id='sr_BA'>Српски/Босна и Херцеговина</option>
<option name='sr_CS' value='sr_CS' id='sr_CS'>Српски/Србија и Црна Гора</option>
<option name='sr_RS' value='sr_RS' id='sr_RS'>Srpski/Srbija</option>
<option name='sv_SE' value='sv_SE' id='sv_SE'>Svenska/Sverige</option>
<option name='th_TH' value='th_TH' id='th_TH'>ไทย/ประเทศไทย</option>
<option name='tl_PH' value='tl_PH' id='tl_PH'>Tagalog/Philippines</option>
<option name='tr_TR' value='tr_TR' id='tr_TR'>Türkçe</option>
<option name='uk_UA' value='uk_UA' id='uk_UA'>Українська</option>
<option name='xh_XH' value='xh_XH' id='xh_XH'>isiXhosa</option>
<option name='zh_CN' value='zh_CN' id='zh_CN'>中文(中华人民共和国)</option>
<option name='zh_MO' value='zh_MO' id='zh_MO'>中文(澳門特别行政區)</option>
<option name='zh_HK' value='zh_HK' id='zh_HK'>中文(香港特别行政區)</option>
<option name='zh_SG' value='zh_SG' id='zh_SG'>中文(新加坡)</option>
<option name='zh_TW' value='zh_TW' id='zh_TW'>中文(台灣)</option>
<option name='zu_ZU' value='zu_ZU' id='zu_ZU'>isiZulu</option>
</SELECT><input type='submit' name='add' class='button-primary validButton' onclick='translate_add("image-zoom","imagezoom", "false" );return false;' value='Añadir' /><img id='wait_translation_add' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core//img/ajax-loader.gif' style='display:none;'>