<p>&quot;SL framework&quot; es un marco utilizado para el desarrollo de otros plugins como éste. Por tanto, si participa en la traducción del marco, será muy útil para muchos otros plugins.</p><p>There is 23 languages supported for the 'SL framework'.</p><p>There is 139 sentence to be translated in the framework.</p>					<table class="widefat fixed" cellspacing="0">
						<thead>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Lenguaje</th>
									<th class="manage-column column-columnname" scope="col">Proporción %</th>
									<th class="manage-column column-columnname" scope="col">Traductores</th>
								</tr>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<tr>
									<th class="manage-column column-columnname" scope="col">Lenguaje</th>
									<th class="manage-column column-columnname" scope="col">Proporción %</th>
									<th class="manage-column column-columnname" scope="col">Traductores</th>
								</tr>
							</tr>
						</tfoot>
						<tbody>
							<tr class="alternate" valign="top" id="lignear_JO"> 
								<td class="column-columnname">
									<span id="cell_ar_JO_1" ><span class='pt_flag' style='background-position: -54px -60px;'>&nbsp;</span><b>العربية/الأردن</b> (ar_JO)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ar_JO_ar_JO').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ar_JO_ar_JO').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'ar_JO') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_ar_JO_ar_JO">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_ar_JO_ar_JO' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_JO_2" ><p><b>14/139</b> frases han sido traducidas (p. ej. <b>10%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ar_JO_3" >GaithBader (<a href='http://www.bader.cc'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignebg_BG"> 
								<td class="column-columnname">
									<span id="cell_bg_BG_1" ><span class='pt_flag' style='background-position: 0px -12px;'>&nbsp;</span><b>Български</b> (bg_BG)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_bg_BG_bg_BG').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_bg_BG_bg_BG').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'bg_BG') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_bg_BG_bg_BG">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_bg_BG_bg_BG' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_2" ><p><b>99/139</b> frases han sido traducidas (p. ej. <b>71.2%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_bg_BG_3" >KalinLynnDimitrov &lt;<a href='mailto:cassidycornell@abv.bg'>cassidycornell@abv.bg</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignecs_CZ"> 
								<td class="column-columnname">
									<span id="cell_cs_CZ_1" ><span class='pt_flag' style='background-position: -72px -24px;'>&nbsp;</span><b>Čeština</b> (cs_CZ)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_cs_CZ_cs_CZ').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_cs_CZ_cs_CZ').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'cs_CZ') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_cs_CZ_cs_CZ">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_cs_CZ_cs_CZ' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_2" ><p><b>122/139</b> frases han sido traducidas (p. ej. <b>87.7%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_cs_CZ_3" >Caseidor &lt;<a href='mailto:borprokop@gmail.com'>borprokop@gmail.com</a>&gt;, david</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignede_DE"> 
								<td class="column-columnname">
									<span id="cell_de_DE_1" ><span class='pt_flag' style='background-position: -108px -24px;'>&nbsp;</span><b>Deutsch/Deutschland</b> (de_DE)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_de_DE_de_DE').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_de_DE_de_DE').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'de_DE') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_de_DE_de_DE">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_de_DE_de_DE' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_2" ><p><b>127/139</b> frases han sido traducidas (es decir, <b>91.3%</b>) <span style='color:#CCCCCC'> 4 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_de_DE_3" >reitermarkus &lt;<a href='mailto:me@reitermark.us'>me@reitermark.us</a>&gt;, ThorstenKallnischkies (<a href='http://desastre.eu'>his website</a>), blog.xmee.de (<a href='http://blog.xmee.de'>his website</a>), agent (<a href='http://www.simonlang.com'>his website</a>), MathiasS., Mathias, FarChris (<a href='http://www.pinsight.de'>his website</a>), Calogero &lt;<a href='mailto:kalle-mc@web.de'>kalle-mc@web.de</a>&gt;, ziix.de (<a href='http://ziix.de'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneel_GR"> 
								<td class="column-columnname">
									<span id="cell_el_GR_1" ><span class='pt_flag' style='background-position: -198px -36px;'>&nbsp;</span><b>Ελληνικά/Ελλάδα</b> (el_GR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_el_GR_el_GR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_el_GR_el_GR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'el_GR') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_el_GR_el_GR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_el_GR_el_GR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_el_GR_2" ><p><b>40/139</b> frases han sido traducidas (p. ej. <b>28.7%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_el_GR_3" >JackGarivaldis (<a href='http://diasporic.org'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneen_US"> 
								<td class="column-columnname">
									<span id="cell_en_US_1" ><span class='pt_flag' style='background-position: -198px -108px;'>&nbsp;</span><b>English/United States</b> (en_US)</span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_2" ><p style='color:#CCCCCC'>Este es el idioma por defecto del plugin. No se puede modificar.</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_en_US_3" ></span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignees_ES"> 
								<td class="column-columnname">
									<span id="cell_es_ES_1" ><span class='pt_flag' style='background-position: -72px -36px;'>&nbsp;</span><b>Español/España</b> (es_ES)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_es_ES_es_ES').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_es_ES_es_ES').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'es_ES') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_es_ES_es_ES">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_es_ES_es_ES' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_2" ><p><b>127/139</b> frases han sido traducidas (es decir, <b>91.3%</b>) <span style='color:#CCCCCC'> 4 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_es_ES_3" >IgnacioCalvo (<a href='http://ignaciocalvo.com'>his website</a>), Verto (<a href='http://vertofotografia.es'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignees_GT"> 
								<td class="column-columnname">
									<span id="cell_es_GT_1" ><span class='pt_flag' style='background-position: 0px -48px;'>&nbsp;</span><b>Español/Guatemala</b> (es_GT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_es_GT_es_GT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_es_GT_es_GT').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'es_GT') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_es_GT_es_GT">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_es_GT_es_GT' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_es_GT_2" ><p><b>60/139</b> frases han sido traducidas (es decir, <b>43.1%</b>) <span style='color:#CCCCCC'> 3 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_es_GT_3" >EnriqueBran (<a href='http://www.fiestachapina.net'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignefa_IR"> 
								<td class="column-columnname">
									<span id="cell_fa_IR_1" ><span class='pt_flag' style='background-position: -180px -48px;'>&nbsp;</span><b>فارسی</b> (fa_IR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_fa_IR_fa_IR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_fa_IR_fa_IR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'fa_IR') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_fa_IR_fa_IR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_fa_IR_fa_IR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_fa_IR_2" ><p><b>61/139</b> frases han sido traducidas (es decir, <b>43.8%</b>) <span style='color:#CCCCCC'> 1 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_fa_IR_3" ></span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignefr_FR"> 
								<td class="column-columnname">
									<span id="cell_fr_FR_1" ><span class='pt_flag' style='background-position: -144px -36px;'>&nbsp;</span><b>Français/France</b> (fr_FR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_fr_FR_fr_FR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_fr_FR_fr_FR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'fr_FR') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_fr_FR_fr_FR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_fr_FR_fr_FR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_2" ><p><b>127/139</b> frases han sido traducidas (p. ej. <b>91.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_fr_FR_3" >SedLex (<a href='http://www.sedlex.fr/'>his website</a>), PierreF &lt;<a href='mailto:pf@romanliturgy.org'>pf@romanliturgy.org</a>&gt;, wkpixearts &lt;<a href='mailto:wkpixeartsforall@gmail.com'>wkpixeartsforall@gmail.com</a>&gt;, mediacop, FlorianP. &lt;<a href='mailto:floflo63400@gmail.com'>floflo63400@gmail.com</a>&gt;, Guillaume (<a href='http://www.rienasemettre.fr'>his website</a>), WaliAhmed (<a href='http://techmeters.uk.to'>his website</a>), SebastienGrenet, mutmut &lt;<a href='mailto:smuteau@gmail.com'>smuteau@gmail.com</a>&gt;, jlmcreation (<a href='http://www.jlmcreation.fr'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignehe_IL"> 
								<td class="column-columnname">
									<span id="cell_he_IL_1" ><span class='pt_flag' style='background-position: -126px -48px;'>&nbsp;</span><b>עברית</b> (he_IL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_he_IL_he_IL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_he_IL_he_IL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'he_IL') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_he_IL_he_IL">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_he_IL_he_IL' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_he_IL_2" ><p><b>34/139</b> frases han sido traducidas (p. ej. <b>24.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_he_IL_3" >HOSTPRESS.CO.IL &lt;<a href='mailto:info@hostpress.co.il'>info@hostpress.co.il</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignehu_HU"> 
								<td class="column-columnname">
									<span id="cell_hu_HU_1" ><span class='pt_flag' style='background-position: -72px -48px;'>&nbsp;</span><b>Magyar</b> (hu_HU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_hu_HU_hu_HU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_hu_HU_hu_HU').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'hu_HU') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_hu_HU_hu_HU">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_hu_HU_hu_HU' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_hu_HU_2" ><p><b>43/139</b> frases han sido traducidas (p. ej. <b>30.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_hu_HU_3" >LaszloPinter (<a href='http://pinter.org'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignein_ID"> 
								<td class="column-columnname">
									<span id="cell_in_ID_1" ><span class='pt_flag' style='background-position: -90px -48px;'>&nbsp;</span><b>Bahasa Indonesia/Indonesia</b> (in_ID)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_in_ID_in_ID').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_in_ID_in_ID').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'in_ID') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_in_ID_in_ID">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_in_ID_in_ID' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_in_ID_2" ><p><b>59/139</b> frases han sido traducidas (p. ej. <b>42.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_in_ID_3" >rudysyahnaya (<a href='http://foritonsite.org'>his website</a>), PradiktaDwiAnthony &lt;<a href='mailto:pradikta.anthony@gmail.com'>pradikta.anthony@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneja_JP"> 
								<td class="column-columnname">
									<span id="cell_ja_JP_1" ><span class='pt_flag' style='background-position: -72px -60px;'>&nbsp;</span><b>日本語</b> (ja_JP)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ja_JP_ja_JP').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ja_JP_ja_JP').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'ja_JP') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_ja_JP_ja_JP">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_ja_JP_ja_JP' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ja_JP_2" ><p><b>2/139</b> frases han sido traducidas (p. ej. <b>1.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ja_JP_3" >hasegawa (<a href='http://lanna.in'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneko_KR"> 
								<td class="column-columnname">
									<span id="cell_ko_KR_1" ><span class='pt_flag' style='background-position: -126px -60px;'>&nbsp;</span><b>한국어</b> (ko_KR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ko_KR_ko_KR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ko_KR_ko_KR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'ko_KR') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_ko_KR_ko_KR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_ko_KR_ko_KR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ko_KR_2" ><p><b>30/139</b> frases han sido traducidas (p. ej. <b>21.5%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ko_KR_3" >www.fbkit.com (<a href='http://www.fbkit.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignenl_NL"> 
								<td class="column-columnname">
									<span id="cell_nl_NL_1" ><span class='pt_flag' style='background-position: -54px -84px;'>&nbsp;</span><b>Nederlands / Nederland</b> (nl_NL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_nl_NL_nl_NL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_nl_NL_nl_NL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'nl_NL') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_nl_NL_nl_NL">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_nl_NL_nl_NL' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_2" ><p><b>52/139</b> frases han sido traducidas (p. ej. <b>37.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_nl_NL_3" >MarcelJansen (<a href='http://caddvision.org'>his website</a>), Erik (<a href='http://www.digihulpdienst.nl'>his website</a>), Mark (<a href='http://www.pandoraz.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignepl_PL"> 
								<td class="column-columnname">
									<span id="cell_pl_PL_1" ><span class='pt_flag' style='background-position: 0px -96px;'>&nbsp;</span><b>Polski/Polska</b> (pl_PL)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_pl_PL_pl_PL').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_pl_PL_pl_PL').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'pl_PL') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_pl_PL_pl_PL">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_pl_PL_pl_PL' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_2" ><p><b>126/139</b> frases han sido traducidas (es decir, <b>90.6%</b>) <span style='color:#CCCCCC'> 4 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pl_PL_3" >pablo (<a href='http://epablo.pl'>his website</a>), vyachek &lt;<a href='mailto:vyachek@op.pl'>vyachek@op.pl</a>&gt;, MarekMackiewicz (<a href='http://ickam89.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignept_BR"> 
								<td class="column-columnname">
									<span id="cell_pt_BR_1" ><span class='pt_flag' style='background-position: -72px -12px;'>&nbsp;</span><b>Português/Brasil</b> (pt_BR)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_pt_BR_pt_BR').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_pt_BR_pt_BR').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'pt_BR') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_pt_BR_pt_BR">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_pt_BR_pt_BR' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_BR_2" ><p><b>47/139</b> frases han sido traducidas (p. ej. <b>33.8%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_BR_3" >willianrodrigues (<a href='http://www.willianrodrigues.com.br'>his website</a>), IuriJacob (<a href='http://www.bytecodex.com'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignept_PT"> 
								<td class="column-columnname">
									<span id="cell_pt_PT_1" ><span class='pt_flag' style='background-position: -36px -96px;'>&nbsp;</span><b>Português/Portugal</b> (pt_PT)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_pt_PT_pt_PT').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_pt_PT_pt_PT').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'pt_PT') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_pt_PT_pt_PT">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_pt_PT_pt_PT' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_PT_2" ><p><b>127/139</b> frases han sido traducidas (p. ej. <b>91.3%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_pt_PT_3" >NunoVieira &lt;<a href='mailto:nunovieira@nuviware.pt'>nunovieira@nuviware.pt</a>&gt;, JooVentura (<a href='http://www.xoffice.pt'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="ligneru_RU"> 
								<td class="column-columnname">
									<span id="cell_ru_RU_1" ><span class='pt_flag' style='background-position: -126px -96px;'>&nbsp;</span><b>Русский/Россия</b> (ru_RU)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ru_RU_ru_RU').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_ru_RU_ru_RU').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'ru_RU') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_ru_RU_ru_RU">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_ru_RU_ru_RU' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_2" ><p><b>94/139</b> frases han sido traducidas (es decir, <b>67.6%</b>) <span style='color:#CCCCCC'> 3 frases tienen que ser controlados porque están cerca (pero no idénticos) a aquellos a traducir. </span></p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_ru_RU_3" >Limych (<a href='http://khrolenok.ru/'>his website</a>), Pacifik (<a href='http://www.androiddeveloper.ru'>his website</a>), Slawka (<a href='http://eth0.org.ru'>his website</a>), alexmv, rad96 &lt;<a href='mailto:rad@kontur.tk'>rad@kontur.tk</a>&gt;, vyachek &lt;<a href='mailto:vyachek@op.pl'>vyachek@op.pl</a>&gt;</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="ligneth_TH"> 
								<td class="column-columnname">
									<span id="cell_th_TH_1" ><span class='pt_flag' style='background-position: -72px -108px;'>&nbsp;</span><b>ไทย/ประเทศไทย</b> (th_TH)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_th_TH_th_TH').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_th_TH_th_TH').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'th_TH') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_th_TH_th_TH">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_th_TH_th_TH' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_th_TH_2" ><p><b>10/139</b> frases han sido traducidas (p. ej. <b>7.1%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_th_TH_3" >tontan &lt;<a href='mailto:zxcvbm4@gmail.com'>zxcvbm4@gmail.com</a>&gt;</span>
								</td>
							</tr> 
							<tr class="" valign="top" id="lignevi_VN"> 
								<td class="column-columnname">
									<span id="cell_vi_VN_1" ><span class='pt_flag' style='background-position: -54px -120px;'>&nbsp;</span><b>Tiếng Việt</b> (vi_VN)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_vi_VN_vi_VN').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_vi_VN_vi_VN').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'vi_VN') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_vi_VN_vi_VN">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_vi_VN_vi_VN' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_2" ><p><b>2/139</b> frases han sido traducidas (p. ej. <b>1.4%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_vi_VN_3" >lan (<a href='http://www.dindan.eu/'>his website</a>)</span>
								</td>
							</tr> 
							<tr class="alternate" valign="top" id="lignezh_CN"> 
								<td class="column-columnname">
									<span id="cell_zh_CN_1" ><span class='pt_flag' style='background-position: -198px -12px;'>&nbsp;</span><b>中文(中华人民共和国)</b> (zh_CN)</span>
									<div class="row-actions">
										<span><a href="#" onclick="javascript: jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_zh_CN_zh_CN').show() ; jQuery('body').bind('DOMSubtreeModified',function() {jQuery('#wait_modify_transimagezoomimagezoom_imagezoom_zh_CN_zh_CN').hide() ; })  ; modify_trans('image-zoom','imagezoom', 'image-zoom', 'zh_CN') ; return false ; " id="modify_transimagezoomimagezoom_imagezoom_zh_CN_zh_CN">Modificar</a><img id='wait_modify_transimagezoomimagezoom_imagezoom_zh_CN_zh_CN' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core/img/ajax-loader.gif' style='display:none;'></span>
									</div>
								</td>
								<td class="column-columnname">
									<span id="cell_zh_CN_2" ><p><b>18/139</b> frases han sido traducidas (p. ej. <b>12.9%</b>).</p></span>
								</td>
								<td class="column-columnname">
									<span id="cell_zh_CN_3" >1231 &lt;1231&gt;</span>
								</td>
							</tr> 
						</tbody>
					</table>
<br/><h3>Añadir una traducción</h3><p>Puede añadir una nueva traducción a continuación (se recomienda enviar su traducción al autor para que pueda incorporarla a futuras actualizaciones del plugin)</p><SELECT id='new_translation_frame' name='new_translation_frame' size='1'><option name='af_AF' value='af_AF' id='af_AF'>Afrikaans</option>
<option name='ar_AE' value='ar_AE' id='ar_AE'>العربية/الإمارات</option>
<option name='ar_BH' value='ar_BH' id='ar_BH'>العربية/البحرين</option>
<option name='ar_DZ' value='ar_DZ' id='ar_DZ'>العربية/الجزائر</option>
<option name='ar_EG' value='ar_EG' id='ar_EG'>العربية/مصر</option>
<option name='ar_IQ' value='ar_IQ' id='ar_IQ'>العربية/العراق</option>
<option name='ar_KW' value='ar_KW' id='ar_KW'>العربية/الكويت</option>
<option name='ar_LB' value='ar_LB' id='ar_LB'>العربية/لبنان</option>
<option name='ar_LY' value='ar_LY' id='ar_LY'>العربية/ليبيا</option>
<option name='ar_MA' value='ar_MA' id='ar_MA'>العربية/المغرب</option>
<option name='ar_OM' value='ar_OM' id='ar_OM'>العربية/سلطنة عمان</option>
<option name='ar_QA' value='ar_QA' id='ar_QA'>العربية/قطر</option>
<option name='ar_SA' value='ar_SA' id='ar_SA'>العربية/السعودية</option>
<option name='ar_SY' value='ar_SY' id='ar_SY'>العربية/سوريا</option>
<option name='ar_TN' value='ar_TN' id='ar_TN'>العربية/تونس</option>
<option name='ar_YE' value='ar_YE' id='ar_YE'>العربية/اليمن</option>
<option name='az_AZ' value='az_AZ' id='az_AZ'>Azərbaycan</option>
<option name='be_BY' value='be_BY' id='be_BY'>Беларускі</option>
<option name='by_BY' value='by_BY' id='by_BY'>Беларускі</option>
<option name='ca_ES' value='ca_ES' id='ca_ES'>Сatalà/Espanya</option>
<option name='da_DK' value='da_DK' id='da_DK'>Dansk</option>
<option name='de_AT' value='de_AT' id='de_AT'>Deutsch/Österreich</option>
<option name='de_CH' value='de_CH' id='de_CH'>Deutsch/Schweiz</option>
<option name='de_LU' value='de_LU' id='de_LU'>Deutsch/Luxemburg</option>
<option name='el_CY' value='el_CY' id='el_CY'>Ελληνικά/Κύπρος</option>
<option name='el_EL' value='el_EL' id='el_EL'>Ελληνικά/Ελλάδα</option>
<option name='en_AU' value='en_AU' id='en_AU'>English/Australia</option>
<option name='en_CA' value='en_CA' id='en_CA'>English/Canada</option>
<option name='en_GB' value='en_GB' id='en_GB'>English/United Kingdom</option>
<option name='en_IE' value='en_IE' id='en_IE'>English/Ireland</option>
<option name='en_NZ' value='en_NZ' id='en_NZ'>English/New Zealand</option>
<option name='en_PH' value='en_PH' id='en_PH'>English/Philippines</option>
<option name='en_ZA' value='en_ZA' id='en_ZA'>English/South Africa</option>
<option name='eo_EO' value='eo_EO' id='eo_EO'>Esperanto</option>
<option name='es_AR' value='es_AR' id='es_AR'>Español/Argentina</option>
<option name='es_BO' value='es_BO' id='es_BO'>Español/Bolivia</option>
<option name='es_CL' value='es_CL' id='es_CL'>Español/Chile</option>
<option name='es_CO' value='es_CO' id='es_CO'>Español/Colombia</option>
<option name='es_CR' value='es_CR' id='es_CR'>Español/Costa Rica</option>
<option name='es_DO' value='es_DO' id='es_DO'>Español/República Dominicana</option>
<option name='es_EC' value='es_EC' id='es_EC'>Español/Ecuador</option>
<option name='es_HN' value='es_HN' id='es_HN'>Español/Honduras</option>
<option name='es_MX' value='es_MX' id='es_MX'>Español/México</option>
<option name='es_NI' value='es_NI' id='es_NI'>Español/Nicaragua</option>
<option name='es_PA' value='es_PA' id='es_PA'>Español/Panamá</option>
<option name='es_PE' value='es_PE' id='es_PE'>Español/Perú</option>
<option name='es_PR' value='es_PR' id='es_PR'>Español/Puerto Rico</option>
<option name='es_PY' value='es_PY' id='es_PY'>Español/Paraguay</option>
<option name='es_SV' value='es_SV' id='es_SV'>Español/El Salvador</option>
<option name='es_UY' value='es_UY' id='es_UY'>Español/Uruguay</option>
<option name='es_VE' value='es_VE' id='es_VE'>Español/Venezuela</option>
<option name='et_EE' value='et_EE' id='et_EE'>Eesti/Eesti</option>
<option name='eu_ES' value='eu_ES' id='eu_ES'>Euskara/Basque</option>
<option name='fi_FI' value='fi_FI' id='fi_FI'>Suomi</option>
<option name='fo_FO' value='fo_FO' id='fo_FO'>Føroyskt</option>
<option name='fr_BE' value='fr_BE' id='fr_BE'>Français/Belgique</option>
<option name='fr_CA' value='fr_CA' id='fr_CA'>Français/Canada</option>
<option name='fr_CH' value='fr_CH' id='fr_CH'>Français/Suisse</option>
<option name='fr_LU' value='fr_LU' id='fr_LU'>Français/Luxembourg</option>
<option name='fy_NL' value='fy_NL' id='fy_NL'>Frysk</option>
<option name='ga_IE' value='ga_IE' id='ga_IE'>Gaeilge/Éire</option>
<option name='gl_ES' value='gl_ES' id='gl_ES'>Galician/Galicia</option>
<option name='hi_IN' value='hi_IN' id='hi_IN'>हिन्दी</option>
<option name='hr_HR' value='hr_HR' id='hr_HR'>Hrvatski</option>
<option name='id_ID' value='id_ID' id='id_ID'>Bahasa Indonesia</option>
<option name='is_IS' value='is_IS' id='is_IS'>Íslenska/Ísland</option>
<option name='it_CH' value='it_CH' id='it_CH'>Italiano/Svizzera</option>
<option name='it_IT' value='it_IT' id='it_IT'>Italiano/Italia</option>
<option name='kk_KK' value='kk_KK' id='kk_KK'>Қазақша</option>
<option name='ky_KY' value='ky_KY' id='ky_KY'>Кыргызча</option>
<option name='lb_LB' value='lb_LB' id='lb_LB'>Lëtzebuergesch</option>
<option name='lt_LT' value='lt_LT' id='lt_LT'>Lietuvių/Lietuva</option>
<option name='lv_LV' value='lv_LV' id='lv_LV'>Latviešu/Latvija</option>
<option name='mk_MK' value='mk_MK' id='mk_MK'>Македонски/Македонија</option>
<option name='nb_NB' value='nb_NB' id='nb_NB'>‪Norsk Bokmål‬</option>
<option name='nb_NO' value='nb_NO' id='nb_NO'>‪Norsk Bokmål‬</option>
<option name='nl_BE' value='nl_BE' id='nl_BE'>Nederlands / België</option>
<option name='nn_NN' value='nn_NN' id='nn_NN'>Norsk / Nynorsk</option>
<option name='no_NO' value='no_NO' id='no_NO'>Norsk / Norge</option>
<option name='ro_RO' value='ro_RO' id='ro_RO'>Română/România</option>
<option name='sk_SK' value='sk_SK' id='sk_SK'>Slovenčina/Slovenská republika</option>
<option name='sl_SI' value='sl_SI' id='sl_SI'>Slovenščina/Slovenija</option>
<option name='sq_AL' value='sq_AL' id='sq_AL'>Shqip</option>
<option name='sr_BA' value='sr_BA' id='sr_BA'>Српски/Босна и Херцеговина</option>
<option name='sr_CS' value='sr_CS' id='sr_CS'>Српски/Србија и Црна Гора</option>
<option name='sr_RS' value='sr_RS' id='sr_RS'>Srpski/Srbija</option>
<option name='sv_SE' value='sv_SE' id='sv_SE'>Svenska/Sverige</option>
<option name='tl_PH' value='tl_PH' id='tl_PH'>Tagalog/Philippines</option>
<option name='tr_TR' value='tr_TR' id='tr_TR'>Türkçe</option>
<option name='uk_UA' value='uk_UA' id='uk_UA'>Українська</option>
<option name='xh_XH' value='xh_XH' id='xh_XH'>isiXhosa</option>
<option name='zh_MO' value='zh_MO' id='zh_MO'>中文(澳門特别行政區)</option>
<option name='zh_HK' value='zh_HK' id='zh_HK'>中文(香港特别行政區)</option>
<option name='zh_SG' value='zh_SG' id='zh_SG'>中文(新加坡)</option>
<option name='zh_TW' value='zh_TW' id='zh_TW'>中文(台灣)</option>
<option name='zu_ZU' value='zu_ZU' id='zu_ZU'>isiZulu</option>
</SELECT><input type='submit' name='add' class='button-primary validButton' onclick='translate_add("image-zoom","imagezoom", "image-zoom"); return false;' value='Añadir' /><img id='wait_translation_add_frame' src='http://www.casamientosonline.com/produccion_modas/wp-content/plugins/image-zoom/core//img/ajax-loader.gif' style='display:none;'>