/* Social Icons Nav */

.social_nav_icon { position: absolute; bottom:60px; margin: 0 ; left: 30px;}
.social_nav_icon li { list-style-type: none; float: left; margin-right: 10px;}
.social_nav_icon a { background:url("images/sprite_icons_social_nav.jpg") no-repeat; width: 36px; height: 36px; display: block; opacity:0.9;}
.social_nav_icon a:hover { opacity:1;}
.social_nav_icon .twitter { background-position:  0 -36px;}
.social_nav_icon .pinterest { background-position:  0 -72px;}
.social_nav_icon .g_plus { background-position:  0 -108px;}
.social_nav_icon .youtube { background-position:  0 -142px;}


/* Destacado */

.info_post_destacado { position: absolute; top: 0; right: 0; background: #000; background: rgba(0,0,0,0.8); width: 20%; height: 100%; padding: 0 3%; color: #fff;}
.info_post_destacado h2 {font-family: 'abraham_lincolnregular'; font-size: 50px; line-height: 55px; text-transform: uppercase; margin-bottom: 16px; padding-top: 40px;}

/* GRILLA DE HOME Y CATEGORIA */

body { overflow-x: hidden; overflow-y: visible;}

footer.entry-meta, .home header.entry-header, .category header.entry-header, .tag header.entry-header, .author header.entry-header { display: none;}


#content { width: 100%; }
.home .hentry, .category .hentry, .tag .hentry, .author .hentry{ width:345px; float: left; display: none; -webkit-transition-property: left, right, top; /* -moz-transition-property: left, right, top; -webkit-transition-duration:0.7s; -moz-transition-duration:0.7s; */}
.home .hentry img, .category .hentry img, .tag .hentry img, .author .hentry img  { width: 100%; display: block !important;}

.category #content, body.category, body.home, .home #content, .tag #content, body.tag, body.author { background: #252525 !important;}


.overlay_link { display: block; zoom: 1; z-index: 10; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.7); opacity:0; text-align: center; -webkit-transition: opacity 0.5s;  -moz-transition: opacity 0.5s;}

.overlay_link table { position: relative; display: table;} 	

.overlay_link:hover { opacity:1; -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s;}

.overlay_link span { font-size: 50px; color: #fff; /* position: relative; top: 40%; */ font-family: 'abraham_lincolnregular'; text-transform: uppercase; display: block; line-height: 52px;}

#cat_title {
background: #393939;
font-family: 'abraham_lincolnregular';
text-transform: uppercase;
font-size: 32px;
padding: 10px 10px 6px 16px;
color: #fff;
line-height: 44px;
padding-bottom: 6px;	
}

.category-archive-meta p{ color: #fff; padding: 20px; }


/* SINGLE */

.single .entry-header { position: relative; padding-top: 86px; float: right; width: 48%;}

.single #content {	width: 96%; height: auto !important; padding: 2%; padding-bottom: 90px; }

.single .hentry { position: relative !important; top:0 !important; left: 0 !important; width: auto !important;}
.single .entry-content { float: left; width: 50%; }
.single .entry-content img { width: 100%; margin-top: 0; border:1px solid #ddd; }

.fluid .slideshow-content img { width: 100% !important; }


.single .ver_todas { text-transform: uppercase; font-size: 12px; color: #463415; margin-bottom: 14px; width: 194px;}

.single h2, .single h3 { font-weight: normal; font-size: 18px; color: #463415; text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 2px; margin-bottom: 16px;}
.single h3 { font-size: 16px; color: #373737;}

.boton { background: #393939; padding: 5px 8px; border-radius:5px; font-size: 14px; color: #fff; text-transform: uppercase; margin-bottom: 40px; display: block; float: left; margin-right: 14px;}
.boton:hover { background: #666;}
.single .boton span { background: url("images/sprite_icons_bt.png") no-repeat; width: 16px; height: 14px; display: inline-block; position: relative; top: 3px; margin-right: 5px;}
.single .boton .minisitio { background-position: 0 -14px; }
.single .boton .tel { background-position: 0 -28px;}


#nav-single { background: #f9f9f9; padding: 2% !important; margin-bottom: 18px; text-transform: uppercase; border: 1px solid #f0f0f0; position: absolute; top: 0; width: 96%; }
#nav-single p { font-size: 21px; color: #707070; float: left; margin: 0; color: #222; position: relative; top: 8px; left: 8px;}
#nav-single p span{ font-size: 12px; color: #707070; display: block;}

#nav-single .nav-previous a, #nav-single .nav-next a { background: url("images/sprite_flechas_nav.png") no-repeat; width: 47px; height: 48px; display: block; float: left;  
opacity:0.7; text-indent: -3000px; line-height: 10000px;}
#nav-single .nav-previous a:hover, #nav-single .nav-next a:hover { opacity:1;}
#nav-single .nav-next a { background-position: -46px 0;}

.redes_sociales { border: 1px dashed #ccc; border-width: 1px 0; padding: 6px 0;}

.fb_iframe_widget iframe { position: relative !important; left: 0 !important;}

div.mr_social_sharing_wrapper { width: auto !important; display: inline-block; float: left;}


.extracto a{ display: none; }

.gallery-item { width: auto !important; margin-right: 12px !important; }
.gallery-item img { height: 120px; width: auto !important;}

.gallery-size-thumbnail br { display: none;}


.single .tags a { color: #4e3c1c; font-size: 14px; text-transform: uppercase; margin-right: 5px;}
.single .tags a+a { margin-left: 5px;}

.mr_social_sharing  { margin-right: 10px !important;}
.mr_social_sharing > span { min-width: 160px;}


.featured_video_plus iframe{ width: 300px !important; height: 200px !important; padding: 5px; border: 1px solid #ddd;}
.fluid-width-video-wrapper { padding-top: 0 !important; }


.imprimir { background: url(images/print_icon.jpg) no-repeat left; padding-left: 30px; color: #373737; margin-left: 8px; position: relative; top: 2px;}

/* Form contacto */

#form_presupuesto label { display: block; font: 15px 'maven_pro_light300', "Helvetica Neue", Helvetica, Arial, sans-serif !important; margin-bottom: 8px;}
#form_presupuesto input, #form_presupuesto select { display: block; width: 98%; font-size: 14px; margin-bottom: 10px; border:1px solid #ccc; box-shadow:none;}
#form_presupuesto select { font-size: 13px !important; }
#form_presupuesto select.dia, #form_presupuesto select.mes, #form_presupuesto select.anio { float: left; margin-right: 6px;}
#form_presupuesto select.dia { width: 60px; }
#form_presupuesto select.mes { width: 90px;}
#form_presupuesto select.anio { width: 70px;}
#form_presupuesto input[type='submit'] { background: #393939; padding: 9px 8px; font: 15px 'maven_pro_light300', "Helvetica Neue", Helvetica, Arial, sans-serif !important; color: #fff; text-transform: uppercase;
cursor: pointer;border: 0; border-radius: 5px; }

#form_presupuesto textarea { margin-bottom: 12px; font: 15px 'maven_pro_light300', "Helvetica Neue", Helvetica, Arial, sans-serif !important;  height: 60px;}

#form_presupuesto input[type='checkbox'] { width:auto; margin-right: 10px; float: left;  }
#form_presupuesto .infonovias { font-size: 11px !important; position: relative; top:3px; margin-bottom: 22px;}

#errorMessageBox{ color: red; font-size: 12px; position: relative; top: -10px; }
#sentMessageBox h2{ font-size: 18px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dashed #ddd; line-height: 23px;}
#sentMessageBox p{ font-size: 14px; }


/* Portfolio Slideshow */

.portfolio-slideshow { margin: 0 !important;}

.pscarousel img { cursor: pointer; margin-right: 8px; border:1px solid #ccc; padding: 2px; opacity:0.7;}
.pscarousel img.activeSlide, .pscarousel img:hover { opacity:1;}



.mr_medium_icon {
color: #373737;
line-height: 17px !important;
text-indent: 4px;
margin-right: 4px !important;
font-size: 14px !important;
font-family: 'maven_pro_light300', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.cont_magn .print_icon { float: right; margin-left: 12px; background: url("images/print_icon.jpg") no-repeat; width: 22px; height: 20px; display: none;} 

/* asociados */

#prov_asociados { margin: 0; margin-top: 10px;}
#prov_asociados a{ color:#463415;  }
#prov_asociados a:hover { text-decoration: underline;}
#prov_asociados li { float: left; margin-right: 10px; border-right: 1px solid #ccc; padding-right: 10px; list-style-type: none;}
#prov_asociados li:last-child { border: 0;}

/* Transitions */

.magnify {position: relative;}
.cont_magn {position: relative; }
.cont_magn > a { position: relative; top: -2px; }

/*Lets create the magnifying glass*/

.large {
	width: 220px; height: 220px;
	position: absolute;
	
	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*hide the glass by default*/
	display: none;
}

.small { display: block;}



/* Smartphones  ----------- */  
@media only screen and (max-width : 480px) {  
	#page { width: 480px;}
	#branding { position: relative; float: none; width: 100%; text-align: center; height: 60px;}
	#access >div > ul > li{ float: left;}	
	#access >div > ul > li a { font-size: 11px;}
	#main { margin-left: 0; width: 320px; clear: both;}
	#main > div { float: none; padding-bottom: 40px;}
	.social_nav_icon { display: none;}	
	#featured_slider { display: none;}
	.overlay_link { opacity:1; background: /*rgba(0,0,0,0.4);*/ none;}
	.overlay_link span{ background: rgba(0,0,0,0.6); padding: 10px; font-size: 40px; line-height: 30px; }
	#branding img { width: 80%; margin: auto;}
	.responsiveSelectContainer { width: 400px; margin: auto;}
	.home .hentry, .category .hentry, .tag .hentry { margin-bottom: 20px;}
	#cat_title { background: none; border-bottom:1px solid #fff; margin-bottom: 30px; padding-top: 40px;}
	.single .entry-content, .single .entry-header { width: 100%; float: none; }
	#nav-single p { font-size: 14px;}
	

}  

@media only screen and (max-width : 320px) {  
	#page { width: 320px;}
	#branding { position: relative; float: none;}
	#main { margin-left: 0; width: 320px;}
	.responsiveSelectContainer { width: 280px; margin: auto;}		
  /* Styles */  
}  


/* FOOTER */

#sponsors { height: 70px; bottom: 0px; background: #000; width: 100%; z-index: 10000; position: absolute;}
#sponsors .inner { padding-left: 280px; height: 70px;}
#sponsors .inner_inner { width: 272px; margin: auto; height: 70px;}
#sponsors img { float: left; margin-right: 30px; opacity:0.7;}
#sponsors img:hover { opacity:1;}

.archive #sponsors { height: 70px; bottom: 0px; background: #000; width: 100%; z-index: 10000; position: fixed;}


/* VIDEO HOME */


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



#nav-below { display:  none !important;}


/* SITEMAP*/

.page #content{ padding: 30px;}
.page #content #print-page-link, .page #content address  { display: none;}
.page #content .entry-header { margin-bottom: 30px;}
.page #content a{ color: #373737 }
.singular.page .hentry { padding: 0 !important; top: 0 !important; left: 0 !important; position: relative !important;}
#sitemap_list { padding-bottom: 80px;}
#sponsors .sitemap { position: absolute; right: 28px; bottom: 25px; font-size: 11px; color: #ccc;}
#sponsors .sitemap:hover { color: #fff;}




