#branding, #sponsors, #wpadminbar, .ver_todas, .boton, #nav-single, .redes_sociales, #todas_las_vistas{ display:none !important; }
#main { margin-left:0;}

.entry-header, .entry-content { float: none !important; width: 100% !important;}

.tel_oculto { display: block !important; font-size: 15px; margin-bottom: 40px;}

img { max-height: 2000px; page-break-before: always;}