@font-face {
    font-family: 'pn-light';
    src: url('/assets/fonts/proximanova-light-webfont.eot');
    src: url('/assets/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/proximanova-light-webfont.woff') format('woff'),
         url('/assets/fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pn-regular';
    src: url('/assets/fonts/proximanova-regular-webfont.eot');
    src: url('/assets/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/assets/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pn-semibold';
    src: url('/assets/fonts/proximanova-semibold-webfont.eot');
    src: url('/assets/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('/assets/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('/assets/fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pn-bold';
    src: url('/assets/fonts/proximanova-bold-webfont.eot');
    src: url('/assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/assets/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Bold';
  	src: url('/assets/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  		 url('/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  		 url('/assets/fonts/Montserrat-Bold.otf')  format('opentype'),
  		 url('/assets/fonts/Montserrat-Bold.woff') format('woff'),
  		 url('/assets/fonts/Montserrat-Bold.ttf')  format('truetype');
  		 
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'),
  	   url('/assets/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  	   url('/assets/fonts/Montserrat-SemiBold.otf')  format('opentype'),
	   url('/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
	   url('Montserrat-SemiBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  	   url('/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  	   url('/assets/fonts/Montserrat-Regular.otf')  format('opentype'),
	   url('/assets/fonts/Montserrat-Regular.woff') format('woff'),
	   url('/assets/fonts/Montserrat-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


