.ic_participaciones { background-position: 0 0 !important;}
.ic_shows_musicales { background-position: 0 -32px !important;}
.ic_souvenirs { background-position: 0 -48px !important;}
.ic_bebidas { background-position: 0 -16px !important;}
.ic_ambientacion { background-position: 0 -80px !important;}
.ic_civil { background-position: 0 -96px !important;}
.ic_foto_y_video { background-position: 0 -112px !important;}
.ic_luna_de_miel { background-position: 0 -128px !important;}
.ic_wedding_planner { background-position: 0 -144px !important;}
.ic_noche_de_bodas { background-position: 0 -160px !important;}
.ic_peinados { background-position: 0 -176px !important;}
.ic_ramos { background-position: 0 -192px !important;}
.ic_vestidos_usados { background-position: 0 -208px !important;}
.ic_shows_de_entretenimiento { background-position: 0 -224px !important;}
.ic_alianzas { background-position: 0 -240px !important;}
.ic_propuestas_originales { background-position: 0 -256px !important;}
.ic_ajuar { background-position: 0 -272px !important;}
.ic_casas_de_regalos { background-position: 0 -288px !important;}
.ic_catering { background-position: 0 -304px !important;}
.ic_salones_de_hoteles { background-position: 0 -320px !important;}
.ic_maquillaje { background-position: 0 -336px !important;}
.ic_disc_jockeys { background-position: 0 -352px !important;}
.ic_quintas { background-position: 0 -368px !important;}
.ic_zapatos { background-position: 0 -384px !important;}
.ic_vestidos_de_novia { background-position: 0 -400px !important;}
.ic_salones_de_fiesta { background-position: 0 -416px !important;}
.ic_mesa_dulce { background-position: 0 -432px !important;}
.ic_cuidado_piel { background-position: 0 -448px !important;}
.ic_cotillon { background-position: 0 -464px !important;}
.ic_food_truck { background-position: 0 -480px !important;}



@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  33.3% { -webkit-transform: translateY(-4px); transform: translateY(-4px); }
  49.95% { -webkit-transform: translateY(3px); transform: translateY(2px); }
  66.6% { -webkit-transform: translateY(-1px); transform: translateY(-1px); }
  83.25% { -webkit-transform: translateY(0px); transform: translateY(0px);  }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes hvr-icon-wobble-vertical { 
 16.65% { -webkit-transform: translateY(5px); transform: translateY(5px); }
  33.3% { -webkit-transform: translateY(-4px); transform: translateY(-4px); }
  49.95% { -webkit-transform: translateY(3px); transform: translateY(2px); }
  66.6% { -webkit-transform: translateY(-1px); transform: translateY(-1px); }
  83.25% { -webkit-transform: translateY(0px); transform: translateY(0px);  }
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

.hvr-icon-wobble-vertical { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);  -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; padding-right: 2.2em; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
.hvr-icon-wobble-vertical:before { content: "\f004"; position: absolute; left: 1em; padding: 0 1px; font-family: FontAwesome; -webkit-transform: translateZ(0);
  transform: translateZ(0); color: red; }
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before { -webkit-animation-name: hvr-icon-wobble-vertical; animation-name: hvr-icon-wobble-vertical; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }