
/* -------------- RESPONSIVE -------------- */

.mobile_block { display:none !important; }

@media (max-width: 1170px) {   /* -------------------------------------------------------------------------------------------------------------- */

.inner,
.container,
.minisitio #listado_proveedores .gutters { width: 95%; margin: auto; }

.container { overflow: hidden; }
#top_bar .inner { width: 100%; }
#login a { border-right: 0; }

nav { text-align: right; }
.navbar { width: 100%; }
#navbarCollapse { padding: 0; text-align: left; }
.navbar-toggle { top: -8px; }
.nav > li > a { font-size: 15px; border-bottom: 1px solid #f0f0f0; text-transform: none; font-family: 'pn-regular'; height: auto; line-height: 22px; padding: 12px 0;}
.navbar-nav { margin: 0; }
.navbar-header { float: none; }
.navbar-left,.navbar-right { float: none !important; }
.navbar-toggle { display: block; }
.navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
.navbar-fixed-top { top: 0; border-width: 0 0 1px;  }
.navbar-collapse.collapse { display: none!important;  }
.navbar-nav { float: none!important; margin-top: 7.5px; }
.navbar-nav>li { float: none;  }
.navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px;  }
.collapse.in{ display:block !important; }
.navbar-nav .open .dropdown-menu { position: static; float: none; width: auto; margin-top: 0; background-color: transparent; border: 0; -webkit-box-shadow: none;
   box-shadow: none; }

#destacados_home .carousel-control .fa-chevron-left { left: -16px; }
#destacados_home .carousel-control .fa-chevron-right { right: -16px; }

.nav > li { margin-right: 0; clear: both; }
.submenu { width: 100%; position: relative !important; box-shadow: none; border:0; left:0 !important; padding: 0; background: #f6f6f6; margin-top: 0 !important; }
.submenu a { }
.submenu a,
.submenu ul { width: 100%; float: none; }
.submenu ul, 
.submenu .nav-images { padding: 0 10px; }
.submenu .nav-images { float: none; border:0; }
.submenu .nav-images img, 
.navbar-default .navbar-nav > li:hover .arrow_dialog_buscador { display: none !important; }
.submenu .nav-images a { margin-right: 0; font-family: 'pn-regular'; }
.submenu ul li, 
.submenu .nav-images a { width: 100%; float: none; text-align: left; }
.submenu ul > li:last-child a, 
.submenu .nav-images a { border-bottom: 1px solid #fad2de;}
.submenu .nav-images a span { text-transform: none !important; }
.submenu .nav-images a:last-child { border-bottom: 0; }

#newsletter .inner { padding-left: 0; background: none; }
#newsletter p { font-size: 21px; position: relative; top: 8px; }


/* Eventos */

#bottom_header_eventos h2 { font-size: 30px; }

/* Banners */
 
.banner_1140_115, 
.banner.push, 
#banner_presupuesto_general_home, 
.banner_970_90, 
.notas .banner_wrapper { display: none; }
#banner_presupuesto_general_home img { max-width: 100%; }  

/* HOME */

.fixed_width_sidebar { padding: 0; float: none; }
#notas_home { width: 100%; }
#guia_header h1 { font-size: 26px; }

/* Guia de Empresas */

#guia_grid_wrapper { padding: 40px 0 0; }
.guia .container { overflow: visible; }

/* Listado */

#content_listado .solapas li { margin-bottom: 12px; }
#content_listado .solapas { margin-bottom: 20px; }
#content_listado_fotos .img_wrapper { width: auto; height: 140px; }


/* Minisitio */

#header_minisitio #inner_header_minisitio #logo_minisitio { width: 15%; display: block; float: left; }
#header_minisitio #inner_header_minisitio #proveedor_header_minisitio { width: 62%; }
#header_minisitio #inner_header_minisitio #proveedor_header_minisitio .valign { padding: 0 20px;}
#header_minisitio #inner_header_minisitio #logo_minisitio img { width: 100%; float: none; }
#header_minisitio #inner_header_minisitio .btn-default { width: 23%; text-align: center; font-size: 14px; padding: 12px 8px !important; }
#header_minisitio h1 { font-size: 26px; }
#recomendaciones { display: none; }
#testimonios_minisitio.big .testimonio .info { width: 100%; padding-left: 0; }
#testimonios_minisitio.big .testimonio .img { display: none; }
#resumen_minisitio { min-height: 78px; height: 85px; }	
#resumen_minisitio .col { float: left; }
#resumen_minisitio .button { width: 25%;/*display: none;*/ }
#resumen_minisitio .direccion { width: 30%; }
#resumen_minisitio .social { width: 45%; }
#header_minisitio .solapas li { width: 50%; display: block; float: left; margin-right: 0;}
#header_minisitio .solapas li:nth-child(even) a{ border-right: 0; }
#header_minisitio .solapas li a	{ width: 100%; font-size: 14px; border-bottom: 1px solid #ddd; }


/* Galerías */

.galeria_standard .thumb_c { width: 19.2%; }
#grid_galeria .col .img_wrapper { max-height: 160px; height: auto; }
.galeria_detalle .galeria_standard .big_pic .epigrafe { text-align: left !important; }
.galeria_detalle .galeria_standard .big_pic .epigrafe .social { width: 100%; padding-top: 6px; clear: both; float: none; text-align: left;  }
.galeria_detalle .galeria_standard .big_pic .epigrafe .social a { padding-left: 0; margin-right: 4px; }
.galeria_detalle .galeria_standard .thumb_c { width: 19.2%; height: 80px; }

/* Notas */

#notas_boxes_bottom h3 { font-size: 21px; }
#form_infonovias_wrapper h2 i { display: none; }

/*  Area Empresas */

#header_como_anunciar { height: auto; background: #E3ECF1; }
#header_como_anunciar .container {  padding-bottom: 30px;}

#header_site_proveedor #top_bar .titulo { display: none; }
#capturas_portal_panel .row { margin-right: 0; margin-left: 0; }

#header_acerca_nuestro { height: auto; background: #F2EEEB; }
#header_acerca_nuestro .container {  padding-bottom: 30px;}
.logos_viejos,
#timeline { display: none;}

#historia_mobile { display: block !important; padding: 30px 0;}
#personalidad_filosofia { padding-top: 30px; }
.expo_novias_proveedor #intro h1 { font-size: 58px; text-indent: 0; }      
.expo_novias_proveedor #intro .bajada { font-size: 23px; }  
.expo_novias_proveedor #form_wrapper form h3 { font-size: 18px; line-height: 22px; }
.header_eventos_pic { width: 100%;  }

#form_jornadas_registro h3 { font-size: 20px; }
#info_jornada .col-md-6 { padding-left: 0; padding-right: 0; }
#intro_jornada #info_jornada h4 { font-size: 20px; }
#info_jornada .col-md-6 img { width: 40px; }

/* Resultados de Busqueda */ 

#resultados_busqueda_wrapper .solapas { margin-bottom: 20px; }
#resultados_busqueda_wrapper .solapas li { width: 32%; margin-right: 2%; display: block; float: left; margin-bottom: 12px; }
#resultados_busqueda_wrapper .solapas li:nth-child(3n) { margin-right: 0; }
#resultados_busqueda_wrapper .busqueda_title a { position: relative; display: block; float: none; line-height: 18px; background: none; border:none; padding:0; color:rgba(255,255,255,.8); text-decoration: underline; margin-top: 4px; } 
#resultados_busqueda_wrapper .busqueda_title i { display: none; }

/* Ceremonias */

.directorio #split { padding: 0; }
.directorio #split #primary { padding-right: 0; border-right: 0; margin-bottom: 40px; }
.directorio #split #primary, 
.directorio #split #secondary { width: 100%; float: none; }
.directorio a img { display: block !important; } 
.ceremonias_detalle #categorias_notas_sidebar { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }
.ceremonias_detalle .big_pic { width: 100%; }
#header_te_de_novias .icon { background-position: center; }
#header_te_de_novias .icon h4 { display: none; }

/* Mapa Presalones */

#mapa_prehome #mapa_wrapper .uruguay { right: 12%; top: 11%; }


      
}


@media (max-width: 990px) {   /* -------------------------------------------------------------------------------------------------------------- */

	
	#newsletter p { width: 100%; margin-bottom: 20px; text-align: center; top: 0; }
	#children .box { margin-bottom: 30px; }
	
	/* Buscador */
	
	#buscador .inner_buscador { width: 100%; }
	#buscador .inner_buscador > div { width: 94%; }
	#sidebar_home_1 { display: none; }
	#carousel-destacados-home .carousel-inner { width: 84%; margin: auto; height: auto !important; }
	#carousel-destacados-home .carousel-inner .item .col-md-3 + .col-md-3 + .col-md-3 { display: none; }
	#destacados_home .carousel-control .fa-chevron-left { left: 0;  }
	#destacados_home .carousel-control .fa-chevron-right { right: 0; }
	#header_search p { display: none; }
	
	/* Guia de Empresas */
	
	#guia_header h1 { max-width: 61%; margin-bottom: 24px; }
	#txt_intro_guia { display: none; }
	
	#guia_grid_wrapper .solapas li { width: 32% !important; clear: none !important; margin-right: 2% !important; }
	#guia_grid_wrapper .solapas li:nth-child(3n) { margin-right: 0 !important; }
	#guia_grid_wrapper .solapas li a { padding: 14px 10px;}	
	#listado_header .btn { float: none; position: relative; top: 12px; }
	
	
	/* Listado */
	
	#iconos_jornada_eventos { padding: 20px; border: 1px solid #ddd; }
	#iconos_jornada_eventos .row .col-md-3:nth-child(2n) { border:0; }
	
	#listado_wrapper { padding: 0; }
	#listado_wrapper aside { width: 100%; float: none; margin-left: 0; }
	#listado_wrapper .banners, 
	#listado_wrapper aside .banner { display: none; }
	#content_listado { border: 0; padding-left: 0; }
	#content_listado .banner_wrapper { display: none; }
	#content_listado_fotos .img_wrapper { width: 100%; height: 180px; }
	
	#content_listado_fotos .grid .foto:nth-child(3n+1) { clear: none; }
	#content_listado_fotos .grid .foto:nth-child(2n+1) { clear: both; }
	
	/* Minisitio */
	
	#sidebar_minisitio { clear: both; }
	#content_minisitio .ver_todos { margin-bottom: 30px; }
	#sidebar_minisitio #minisitio_acciones { display: none; }
	#mod_contacto_mobile { display: block !important; }
	#resumen_minisitio { min-height: 78px; height: 100px; }	
	#resumen_minisitio .button { width: 25%; }
	#resumen_minisitio .direccion { width: 25%; }
	#resumen_minisitio .social { width: 50%; }
	#resumen_minisitio .button a { font-size: 12px }
	#resumen_minisitio .direccion h4 { font-size: 18px; margin-bottom: 2px; }
	#resumen_minisitio .direccion p { font-size: 14px; }
	
	/* Split */
	
	#split,
	.resultados_busqueda #listado_wrapper { padding: 0 260px 0 0; }
	#split #secondary { width: 240px; margin-right: -260px; }
	.resultados_busqueda aside { width: 240px !important; margin-right: -260px; float: right !important; }
	#categorias_notas_sidebar a { padding-left: 20px; }
	#categorias_notas_sidebar a img { display: none; }
	#categorias_notas_sidebar h4 { font-size: 15px; }
	#split #secondary #registro_infonovias_sidebar { display: none; }
	#split #secondary .banner_300_250 { display: none;  }
	#split #secondary #casamientos_tv_sidebar { display: none; }
	
	.ceremonias #categorias_notas_sidebar a img,
	.ceremonias_detalle #categorias_notas_sidebar a img { display: block !important; }
	
	
	/* Notas */
	
	.notas #notas_segundo_nivel > div, 
	#cat_notas_wrapper .col-md-6 { margin-bottom: 30px;}
	.notas #notas_segundo_nivel > div:last-child { margin-bottom: 0; }
	#cat_notas_wrapper .col-md-6 img, 
	#notas_listado_segundo_nivel img { width: 100% !important; }
	#notas_listado_segundo_nivel .horizontal .data,
	#notas_listado_segundo_nivel .horizontal .img_wrapper { width: 100%; float: none; }
	#notas_listado_segundo_nivel .horizontal .img_wrapper img { left: 0; }
	#notas_listado_segundo_nivel .horizontal .actions { position: relative; width: 100%; }
	#notas_listado_segundo_nivel .horizontal .social, 
	#notas_listado_segundo_nivel .horizontal .actions > a{ width: 50%; }
	#nota_header_box { height: auto; }
	#nota_header_box div { width: 30% !important; padding: 0 10px; line-height: 50px !important; }
	#nota_header_box div.fecha { width: 40% !important; }
	#nota_header_box p { margin-bottom: 0; }
	#nota_header_box .social { padding-top: 0; }	
	#nota_header_box .social a { width: auto !important; height: auto !important; background: none; display: inline-block !important;  }
	#nota_header_box .autor img, 
	#nota_header_box .social a.compartir_imprimir { display: none !important; }
	#empresas_relacionadas_nota .btn { width: 150px; }
	
	
	/* Area Empresas */
	
	#iconos_porque_publicar .col { margin-bottom: 20px; }
	#iconos_numeros .row .col-md-4:nth-child(3n+1){ clear: none; } 
	#iconos_numeros .row .col-md-4:nth-child(2n+1){ clear: both; } 
	#numeros_jornada .inner > div { margin-bottom: 30px; }
	#numeros_jornada .inner > div:nth-child(3n) { margin-bottom: 0; }
	.prensa aside { margin-top: 10px; border-top: 1px solid #ddd; padding-top: 30px; padding-left: 15px; }
	#form_presupuesto { padding-left: 0; border-left: 0 !important; }
	.contacto.contacto_proveedor aside { margin-bottom: 30px; }
	
	/* Presupuesto */
	
	.presupuesto #form_presupuesto_wrapper { background: none; } 
	.presupuesto aside,
	.presupuesto #form_presupuesto { float: left; }
	.presupuesto #form_presupuesto { position: relative; }
	.presupuesto aside { padding-left: 0; }
	
	.contacto aside { padding-right: 0;  margin-bottom: 20px;}
	
	/* Eventos */
	
	#bottom_header_eventos { padding: 20px; }
	#bottom_header_eventos h2 { font-size: 26px; }
	#bottom_header_eventos .btn { padding: 10px; }
	#bottom_header_eventos p span { display: block; }
	#otros_medios .col-md-4 { margin-bottom: 30px; }
	#otros_medios .revista_single { border-bottom: 1px solid #ddd; margin-bottom: 40px !important;}
	#te_de_novias_eventos h4 { font-size: 19px; }
	#info_jornada .col-md-6 { margin-bottom: 18px !important; padding-bottom: 18px !important; border-bottom: 1px solid #ddd; }
	#info_jornada .col-md-6:last-child { margin-bottom: 0 !important; padding-bottom: 0 !important; border-bottom: 0 !important; }
	#participar { padding: 30px; }
	#participar .inner { margin-bottom: 30px; }
	#ultima_jornada h2 br { display: none; }
	#mapa_jornada_registro { top: 0; margin-top: 40px; padding: 0; }
	#mapa_jornada_registro img { max-width: 100%; }
	#mapa_jornada_registro .como_llegar { position: absolute; top: -40px; left: 0; }
	.jornadas_registro .galeria_standard .big_pic .epigrafe { display: none; } 
	#ultima_jornada { padding-right: 15px; }
	#jornadas_anteriores { padding-left: 15px; padding-top: 30px; }
	.jornadas_anteriores #ultima_jornada { padding-right: 0; border-right: 0; }
	.jornadas_registro .carousel-control { height: 100%; }
	.jornadas_registro .banner_300_250 { display: none; }
	.jornadas_anteriores aside { margin-top: 40px; }
	#bottom_jornada_entrada { padding-top: 10px; }
	
	.jornadas_registro #form_jornadas_registro { display: none; }
	#intro_jornada { margin-bottom: 0; }
	#btn_registro_jornada_mobile { display: block !important; margin-bottom: 34px; }

	/* Resultados de Busqueda */
	
	#resultados_busqueda_wrapper .inc_minisitio { display: none; }
	
	/* Notas */
	
	#grid_galeria #header_grid_galeria select { max-width: 120px; font-size: 15px; }
	#empresas_relacionadas_nota .btn { float: none; }
	#empresas_relacionadas_nota img { margin-bottom: 8px; }
	
	/* Ceremonias */
	
	#header_te_de_novias .icon { background-size: 60% !important; }
	#header_te_de_novias #logo_circulo_te_de_novias { width: 250px; height: 250px; padding-top: 150px; background: url(../images/logo_circulo_te_de_novias_mobile.png) center center; }
	#header_te_de_novias #logo_circulo_te_de_novias h3 { font-size: 24px; }
	#header_te_de_novias #logo_circulo_te_de_novias span { font-size: 17px; }
	
	/* Mapa Presalones */
	
	#mapa_prehome #mapa_wrapper .uruguay { top: 13%; right: 15%; }
	#mapa_prehome #mapa_wrapper .uruguay strong { font-size: 14px; }
	#mapa_prehome #mapa_wrapper a div { display: none; }
	
	/* Galerias */
	
	.galeria_detalle .galeria_standard .thumb_c { width: 19%; }
	.galerias #grid_galeria .row .col { clear: none !important;  }
	
	/* Mapa del Sitio */
	
	.mapa_sitio #secondary { display: none; }
	.mapa_sitio #primary { width: 100%; border-right: 0; padding-right: 0; }
	.mapa_sitio #split { padding: 0; }
	
	
}


@media (max-width: 850px) {   /* -------------------------------------------------------------------------------------------------------------- */

	/* Minisitio */

	#header_minisitio #inner_header_minisitio img,
	#header_minisitio #inner_header_minisitio .btn-default { display: none; }
	
	#wrapper_header_minisitio, 
	#overlay_minisitio { height: 200px; }
	#header_minisitio #inner_header_minisitio { top: 0; padding: 0; }
	#mobile_title_minisitio { display: block; margin: auto; }
	#header_minisitio h1 { text-shadow: 0 0 4px #333; }
	#header_minisitio #inner_header_minisitio #proveedor_header_minisitio { width: 100%; height: 200px; float: none; position: relative; text-align: center; border:1px solid #ddd; border-bottom: 0; }
	#header_minisitio #inner_header_minisitio #proveedor_header_minisitio .valign { width: 100%; padding: 0 30px; }
	#header_minisitio #inner_header_minisitio .direccion { float: none;  text-shadow: 0 0 4px #333; font-size: 17px !important }
	#header_minisitio #inner_header_minisitio .direccion strong { font-family: 'pn-light' !important; float: none; }
	#header_minisitio .slogan_header_minisitio { display: none; }
	#resumen_minisitio .button a { font-size: 12px }
	#resumen_minisitio .social span { top: 10px !important; font-size: 12px; margin-right: 4px; }
	#resumen_minisitio .direccion h4 { font-size: 16px; margin-bottom: 2px; }
	#resumen_minisitio .direccion p { font-size: 12px; }
	#resumen_minisitio .direccion { padding: 18px; }
	
	#header_minisitio #inner_header_minisitio #proveedor_header_minisitio .valign .btn-default { width: 160px; display: block !important; float: none; margin:auto; padding: 8px !important; font-size: 11px; top:0; }
	#header_minisitio #inner_header_minisitio .direccion { display: block; margin-bottom: 14px; }
	
	/* Area Empresas */
	
	#header_como_anunciar .txt, 
	#form_como_anunciar_wrapper { width: 100%; float: none; }
	#header_como_anunciar .txt { margin-bottom: 30px; padding-top: 4px; }
	#header_como_anunciar .container { padding-bottom: 30px; }
	#header_como_anunciar h1 strong br { display: none; }
	#header_como_anunciar #form_como_anunciar_wrapper { margin-right: 0; }
	#capturas_portal_panel { margin-bottom: 55px; }
	
	/* Landing Presalones */
	
	#mapa_prehome #mapa_wrapper .uruguay { top: 13%; right: 13.8%; }
	
	
	/* Presupuesto */
	
	#form_presupuesto, 
	.presupuesto aside { width: 100% !important; float: none !important;  }
	#form_presupuesto input[type='submit'] { float: none; top: 0 !important; }
	.presupuesto #form_presupuesto { padding-bottom: 40px;  }
	.presupuesto #form_presupuesto_wrapper { margin-bottom: 0; }
	.expo_novias_proveedor #banda_fecha { margin-bottom: 60px;}
	.presupuesto #listado_presupuesto_grupal { height: auto; margin-bottom: 20px !important; }
	
	/* Gracias */
	
	#gracias .listado { display: none; }
	#gracias .bajada { padding-bottom: 0; border-bottom: 0; margin-bottom: 0; font-size: 16px; line-height: 19px; }
	
	/* Notas */
	
	#grid_galeria #header_grid_galeria { height: auto; }
	#grid_galeria #header_grid_galeria h3 { float: none; margin-bottom: 10px; top: 0; }
	#grid_galeria #header_grid_galeria .pull-right { width: 100%; float: none !important; }
	#grid_galeria #header_grid_galeria select { display: block; float: none; margin-left: 0; max-width: none; margin-bottom: 10px;  }
	
}

@media (max-width: 768px) {   /* -------------------------------------------------------------------------------------------------------------- */

	.mobile_none { display: none !important; }
	.mobile_block { display: block !important; }
	.inner, .container { width: 92%;}
	.home header { border-bottom: 1px solid #ddd; }
	#header_search { margin-bottom: 30px !important; }
	#header_404 { background: #F4E8DC; }
	#header_404 .inner { text-align: center; }
	/*#header_search { margin-bottom: 0 !important; }*/

	/* Buscador */
	
	#buscador { border: 0; }
	#buscador, 
	#buscador #slides, 
	#buscador #slides .slide { height: 350px ; }
	#buscador #slides .slide a { display: none; }
	#buscador .inner_buscador form fieldset, 
	#buscador .inner_buscador form .dropdown, 
	#buscador .inner_buscador form input, 
	#buscador .inner_buscador form input[type='submit'],
	#buscador .inner_buscador form input[type='button']  { width: 100%; float: none;}
	#buscador .inner_buscador form input { background: #fff; margin-bottom: 10px; }
	#buscador .inner_buscador form .dropdown { background: url(../images/arrow_select_long.png) no-repeat right #fff !important; margin-bottom: 10px; }
	#buscador .inner_buscador form fieldset { height: auto; float: none; background: none; border:none;  }
	#buscador .inner_buscador > div { width: 100%; background: none; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%);  }	
	#buscador .inner_buscador > div h2 { font-size: 25px; }
	#buscador .inner_buscador { background: rgba(255,255,255,0.6); height: 100%; }
	#newsletter p { font-size: 19px; line-height: 20px; margin-bottom: 20px; padding-right: 0; }
	#newsletter .col-md-3 { padding-left: 0; }
	#notas_home .ver_todas { display: none; }
	#header_search .inner form input[type='submit'] { font-size: 14px; }
	
	/* FOOTER */
	
	footer .col-md-6 .col-md-6 { padding-left: 0; }
	footer h4 { margin-bottom: 12px; }
	footer h4 span { line-height: 21px; }
	footer #footer_bottom .afip { display: none; }
	footer #footer_bottom ul { text-align: center; float: none !important; }
	footer #footer_bottom ul li { display: block; }
	footer #footer_bottom ul li:after { display: none; }
	footer #footer_bottom ul li a { display: block; text-align: center; float: none; }
	footer #footer_bottom p span { left: 0; display: block; text-align: center; }
	
	/* Guia de Empresas */
	
	#guia_header h1 { max-width: 90%; }
	#guia_header .btn { display: none; }
	#guia_grid_wrapper h2 { font-size: 25px; }
	#listado_header .btn { text-transform: uppercase; padding: 12px 11px; float: none;  width: 100%; top: 0; margin-bottom: 24px; }
	
	
	
	/* Listado */
	
	#listado_header { margin-bottom:  20px; }
	#listado_header h1 { margin-bottom: 40px; }
	#filtros_wrapper { display: none; background: #f3f3f3; padding: 20px; margin-bottom: 30px; }
	#filtros_wrapper ul:last-child { margin-bottom: 0; }
	#filtros_wrapper li a { font-size: 14px; margin-bottom: 3px; display: block; }
	#filtros_mobile_wrapper { position: relative; border-bottom: 1px solid #ddd; clear: both; }
	#filtros_mobile_wrapper h4 { font-size: 17px; }
	#filtros_listado_mobile { width: 100px; position: absolute; right: 2px; bottom: 8px; text-align: center; font-size: 15px; font-family: 'pn-semibold'; }
	#filtros_listado_mobile i { font-size: 15px; color: #28b29e; }
	#content_listado .solapas { margin-bottom: 20px; }
	#content_listado .solapas li { width: 49%; margin-right: 2%; display: block; float: left; margin-bottom: 8px;}
	#content_listado .solapas li:nth-child(even) { margin-right: 0; }
	#content_listado .solapas li a { width: 100%; font-size: 14px; }
	.filtros_aplicados_mobile { margin-bottom: 8px !important; }
	.filtros_aplicados_mobile h3 { font-size: 14px; margin-top: 14px; }
	
	.box_listado .bottom_actions .inc_minisitio { display: none; }
	.box_listado .data_adicional, 
	.box_listado .info_wrapper .fecha { display: none; }
	
	#mapa_prehome #mapa_wrapper .uruguay { width: auto; height: auto; padding-top: 0; top: 22.4%; right: 17.3%; }
	

	/* Minisitio */
	
	.minisitio .bg_grey { padding-top: 0; background: none; }
	#wrapper_minisitio h2 { padding: 14px 20px; }
	.minisitio #destacados_home h2 { font-size: 20px; }
	#wrapper_minisitio .box_inner, 
	#sidebar_minisitio #form_minisitio form { padding: 20px !important; }
	#testimonios_minisitio .testimonio .img { display: none; }
	#testimonios_minisitio .testimonio { padding: 16px 0; }
	#resumen_minisitio { margin-bottom: 0 !important; }
	#resumen_minisitio { min-height: 78px; height: 110px; }	
	#resumen_minisitio .button a { font-size: 10px; line-height: 10px; padding-top: 10px }
	
	#resumen_minisitio .button { width: 25%;}
	#resumen_minisitio .direccion { width: 25%; }
	#resumen_minisitio .social { width: 50%; }


	#testimonios_minisitio .testimonio .info { padding-left: 0; }
	#resumen_minisitio .direccion h4 { font-size: 14px; margin-bottom: 2px; }
	#resumen_minisitio .direccion p { font-size: 10px; }


	#resumen_minisitio .social .social_inner { margin-bottom: 0; }
	#testimonios_minisitio h2 .rating { min-height: 48px; }
	#testimonios_minisitio h2 .rating p { display: none; }
	#wrapper_minisitio .box { margin-bottom: 30px; }
	#box_vencido h2 { font-size: 19px; }
	


	/* Galerías */
	
	.carousel-inner,
	.carousel-inner .item img { height: 300px !important; }
	.carousel.thumbs { display: none; }
	.carousel-control .fa-chevron-left { left: 12px; }
	.carousel-control .fa-chevron-right { right: 12px; }
	.galeria_standard { padding-bottom:  0; }
	.carousel-inner iframe { display: block; }
	.galeria_standard .thumb_c,
	.galeria_standard .thumb_c.thumb_video::before,
	.galeria_detalle .galeria_standard .thumb_c { height: 60px; }
	.galeria_standard .thumb_c,
	.galeria_detalle .galeria_standard .thumb_c { width: 18.7%; }
	
	
	/* Split */
	
	#split,
	.resultados_busqueda #listado_wrapper { padding: 0; }
	#split #primary,
	#resultados_busqueda_wrapper { float: none; padding-right: 0; border-right: 0; }
	
	#split #secondary, 
	.resultados_busqueda aside { display: none; }
	.notas #split #secondary { display: block; margin-right: 0; width: 100%; padding-top: 40px; }
	
	#categorias_notas_sidebar a { padding-left: 60px; }
	#categorias_notas_sidebar a img { display: block; }
	#split #secondary .fb-page, 
	#split #secondary #instagram_box { display: none !important; }
	
	.tags #split #secondary,
	.infonovias #split #secondary, 
	.ceremonias #secondary, 
	.ceremonias_detalle #secondary, 
	.te_de_novias #split #secondary { width: auto !important; display: block !important; margin: 0 !important; padding: 0 !important; float: none; margin-top: 40px !important; }
	

	/* Notas */
	
	.notas_home .bloque_cat_notas { padding-bottom: 10px; }
	.nota_detalle h1 { font-size: 32px; padding-bottom: 0; border-bottom: 0; }
	.nota_detalle .bajada { padding-bottom: 0; margin-bottom: 0; border-bottom: 1px solid #ddd; padding-bottom: 20px; } 
	#galerias_asociadas_nota .galeria .img_wrapper { height: 200px; }
	#galerias_asociadas_nota .galeria .img_wrapper img { width: 100% !important; }
	#tags_nota { margin-bottom: 30px; }
	#content_nota { padding: 30px 0; }
	.notas .container { padding-bottom: 10px; }
	
	/* Casamientos Tv */
	
	.casamientos_tv #header_search { margin-bottom: 0 !important; }
	.casamientos_tv #categorias_notas_sidebar { margin-bottom: 0; border-bottom: 0; }
	#header_casamientos_tv iframe { height: 300px; }
	.casamientos tv .carousel-inner, 
	.casamientos tv .carousel-inner .item img { height: 300px !important; }
	#header_casamientos_tv { padding: 36px 0 46px; margin-bottom: 40px; }
	#header_casamientos_tv .box { padding: 22px 24px; }
	#header_casamientos_tv .box h2 { font-size: 19px; }
	#header_casamientos_tv .box h2, 
	#header_casamientos_tv .box .descripcion, 
	#header_casamientos_tv .box .row > div { width: 100%; float: none;  }
	#header_casamientos_tv .box .social { float: none !important; top: 0; margin-bottom: 12px; overflow: hidden; }
	#header_casamientos_tv .box .social a, 
	#header_casamientos_tv .box .social span { float: left !important;  } 
	#header_casamientos_tv .box .social span { position: relative; top: 4px; font-size: 12px; }
	#header_casamientos_tv .box .rubros, 
	#header_casamientos_tv .box .proveedor { float: none !important; }
	#header_casamientos_tv .box .proveedor i,
	#header_casamientos_tv .box .proveedor a { float: left; display: block; }
	#header_casamientos_tv .box .rubros { clear: both; }
	#header_casamientos_tv .box .descripcion { font-size: 16px; margin-bottom: 18px; }
	#header_casamientos_tv .box .proveedor h3 a, 
	#header_casamientos_tv .box .bottom p, 
	#header_casamientos_tv .box .bottom a { font-size: 15px; }
	#header_casamientos_tv .box .proveedor h3 { line-height: 18px;}
	#header_casamientos_tv .box .bottom i { font-size: 16px; }
	#header_casamientos_tv .box .tags { padding-top: 0; }
	#header_casamientos_tv .box .bottom p { padding-top: 6px; }
	#header_casamientos_tv #video { height: auto; }
	.video_detalle #header_casamientos_tv .proveedor .zona { clear: both;  }
	.video_detalle #header_casamientos_tv .proveedor .img_wrapper { display: none; }
	.video_detalle #header_casamientos_tv .proveedor .data { width: 100%; float: left; }
	.video_detalle #header_casamientos_tv .box .btn { padding: 10px 20px; }
	
	/* Area Empresas */
	
	#header_site_proveedor #datos_contacto .mail, 
	#header_site_proveedor #datos_contacto .phone { display: none; }
	#header_como_anunciar h1 { margin-bottom: 16px; }
	#header_como_anunciar h1 strong { font-size: 34px; line-height: 32px; }
	#header_como_anunciar li { font-size: 16px; margin-bottom: 10px; }
	#header_como_anunciar .big_txt { font-size: 21px !important; }
	#title_banda h2, #title_banda p { font-size: 21px; }
	#iconos_numeros { padding: 60px 0 30px}
	#iconos_numeros .img_wrapper { width: 20%; }
	#iconos_numeros .data { width: 76%; }
	#iconos_numeros .row .col-md-4 { width: 100%; margin-bottom: 30px !important; }
	#header_acerca_nuestro { padding-bottom: 0; }
	
	#capturas_portal_panel .col-md-6 { width: 100%; }
	#capturas_portal_panel #el_portal { padding-right: 0; border:0; }
	#capturas_portal_panel #el_panel { padding-left: 0; padding-top: 0; }
	#capturas_portal_panel p span { width: 93%; }
	#capturas_portal_panel #el_panel p i { margin-right: 4%;}
	
	#opciones_publicacion .col-md-6 { width: 100%; }
	#opciones_publicacion h2, 
	#opciones_publicacion .intro, 
	#opciones_publicacion p { text-align: center; }
	#opciones_publicacion .title_sep::after { margin: 12px auto 20px }
	#opciones_publicacion .data { text-align: left; }	
	#personalidad_filosofia .col-md-6 { width: 100%; }
	.acerca_nuestro #iconos_numeros .target { margin: 6px 0 40px; }
	#txt_mercado_casamientos { width: 100%; }
	#pic_mercado_casamientos { display: none; }
	.acerca_nuestro #mercado_casamientos .bajada { margin-bottom:  30px !important; }
	#personalidad_filosofia .bajada { font-size: 18px; }
	
	.expo_novias_proveedor #cont_video { height: 500px; }
	.expo_novias_proveedor #banda_fecha h2 { font-size: 29px; }
	.expo_novias_proveedor #banda_fecha h2 strong:after { height: 22px; }
	.expo_novias_proveedor #banda_fecha { margin-bottom: 40px;} 
	.expo_novias_proveedor #intro, 
	.expo_novias_proveedor #form_wrapper { width: 100%; float: none; }
	.expo_novias_proveedor #intro { margin-bottom: 40px; }
	.expo_novias_proveedor #form_wrapper { padding: inherit; }
	.expo_novias_proveedor #intro h1 { font-size: 43px; }
	.expo_novias_proveedor #intro .big_txt { font-size: 21px;  }
	.expo_novias_proveedor #intro p { margin-bottom: 20px; }
	#participar #iconos_participar .col-md-6 { width: 100%; margin-bottom: 30px !important; }
	.expo_novias_proveedor .carousel-inner,
	.expo_novias_proveedor .carousel-inner .item img { height: auto !important; }
	.expo_novias_proveedor #numeros_jornada { padding: 40px 0 50px; }
	.expo_novias_proveedor #organiza span, 
	.expo_novias_proveedor #organiza img { margin: auto !important; display: block; padding: 0 !important; border: 0 !important; }
	.expo_novias_proveedor #organiza .logo_col { max-width: 100%; margin-bottom:  24px !important; }
	.expo_novias_proveedor #organiza span { margin-bottom:  8px !important; }
	#personalidad_filosofia h2 { font-size: 23px; }
	
			
	/* Presupuesto */
	
	.presupuesto #form_presupuesto { padding: 30px 20px; }
	.presupuesto h1 { font-size: 24px; }
	#form_presupuesto, .presupuesto aside { padding-top: 12px; }
	
	/* Eventos */

	#bottom_header_eventos .row > div,
	#bottom_header_eventos .row > a { width: 100%; float: none; } 
	#bottom_header_eventos .row > a { width: 250px !important; float: none !important; right: 0; top: 0; left: 10px; margin-top: 24px; }
	#iconos_jornada_eventos .col { margin-bottom: 20px; }
	#intro_jornada h2 { font-size: 35px; } 
	.header_eventos_pic { width: 100%; margin-bottom: 30px !important; }
	
	/* Notas */
	
	
	.tags #tags_sidebar h3 { font-size: 28px; }
	
	/* Ceremonias */
	
	.ceremonias_detalle #filtro label { display: none; }
	.datos_utiles_wrapper .icon { top:30px; -webkit-transform: none; -moz-transform: none; transform: none;   }
	.requisitos_wrapper .solapas_datos_utiles a { width: 50%; font-size: 16px; padding: 14px;} 
	#listado_directorio table th { display: none; }
	#listado_directorio table td { width: 100%; display: block; border-top: none; padding: 10px !important; margin-bottom: 0; }
	#listado_directorio table tr td:last-child { margin-bottom: 20px; }
	#listado_directorio .head_mobile { background: #28b29e !important; color: #fff; font-family: 'pn-semibold'; }
	
	/* Mapa Pre Salones */
		
	#mapa_prehome #mapa_wrapper a { font-size: 12px !important; line-height: 14px !important; }
	#mapa_prehome #mapa_wrapper a strong { font-size: 12px !important; }
		
	
	/* Mapa del sitio */
	
	
	.mapa_sitio table .uno { margin-bottom: 20px !important; border-right: 0 !important; }
	.mapa_sitio table .dos { margin-bottom: 10px !important; border:0 !important; }
	.mapa_sitio table .tres { border-bottom: 0 !important; } 
		
}


@media (max-width: 768px) and (min-width: 480px) {   /* -------------------------------------------------------------------------------------------------------------- */
	.listado_paquetes .box_listado .caract_paquete,
	.inc_paquete { display: none; }
	.box_listado .info_wrapper { padding-bottom: 0; }
	.box_listado .bottom_actions { position: relative; bottom: 0; }
	.box_listado .info_wrapper { padding-bottom: 0; }

}


@media (max-width:630px){   /* -------------------------------------------------------------------------------------------------------------- */

	#cat_notas_wrapper .col-md-6 { width: 100% !important;}
	#nota_header_box div.autor, 
	#nota_header_box div.fecha { width: 50% !important; border-bottom: 1px solid #ddd; }
	#nota_header_box div.fecha { border-right: 0; }
	#nota_header_box div.social { width: 100% !important; }
	.directorio .filtro h2 { font-size: 15px; }
	
	/* Minisitio */
	
	.listado_paquetes .caracteristicas_paquetes .info_caracteristicas { display: none; }
	#resumen_minisitio { min-height: 78px; height: 120px; }	

	/* Area Empresas */
	
	#foto_y_video .thumbs .row > div { width: 100%; } 
	.expo_novias_proveedor .thumbs .iframe_wrapper { padding-bottom: 50%; margin-bottom: 20px; }
	.expo_novias_proveedor .thumbs a { margin-bottom: 20px; }
	.expo_novias_proveedor #slider_empresas p { font-size: 18px; }
	.expo_novias_proveedor #numeros_jornada strong { font-size: 44px; }
	
	/* Gracias */
	
	#gracias h2 { font-size: 28px; line-height: 28px; }
	
	/* Eventos */
	
	#te_de_novias_eventos .col-md-4 { width: 100%; }
	#te_de_novias_eventos .logo_te { width: 65%; }
	#te_de_novias_eventos .big_txt { font-size: 20px; line-height: 24px; }
	#te_de_novias_eventos h3 { font-size: 18px; }
	
	/* Notas */
	
	.notas_listado .filtros { height: auto; }
	.notas_listado .filtros label { display: none; }
	.notas_listado .filtros select { float: none; width: 100%; max-width: none;  display: block; margin-bottom: 10px;}
	.notas_listado .filtros select + select { margin-bottom: 0; }
	
	/* 404 */
	
	#header_404 h1 { font-size: 60px; }
	#header_404 h1 span { font-size: 28px; }
	
	/* Ceremonias */
	
	.requisitos_wrapper .solapas_datos_utiles a { width: 100%; } 
	.requisitos_wrapper .solapas_datos_utiles li + li a { border-left: 1px solid #ddd;}
	.directorio .filtro label { display: none; }
	#header_te_de_novias .col-md-4 { width: 100%; float: none; }
	#header_te_de_novias .icon { background-size: auto !important; width: 160px; height: 160px; padding-bottom: 0;  background-position: center center !important; } 
	
	/* Modals */
	
	.modal.fade .modal-dialog { width: 90%; left: 47% !important; }
}
	

@media (max-width:480px){   /* -------------------------------------------------------------------------------------------------------------- */

	h1 { font-size: 26px; }
	h2 { font-size: 23px; line-height: 26px; }
	#grid_home h2 { margin-bottom: 13px; }
	.container { padding-bottom: 30px; }
	body.home { padding-top: 40px; }
	header { border-bottom: 1px solid #ddd; margin-bottom: 30px; }
	.home header, 
	.casamientos_tv header, 
	.site_proveedor header, 
	.page_404 header { margin-bottom: 0; }
	.green.suc_selector { display: inline-block; }
	
	#newsletter form { border-radius: 0; background: }
	#newsletter form .col { width: 100%; float: none; border-radius: 0; }
	#newsletter form input, 
	#newsletter form select { border-bottom: 1px solid #ddd !important; border-radius: 0 !important; box-shadow: none !important; }
	#newsletter form input[type='submit'] { display: block; }

	/* 404 */
	
	#header_404 { padding: 30px 20px; height: auto; }	
	#missing_children .info .pink { display: block; }
	#header_404 h1 { font-size: 40px; }
	#missing_children { padding: 40px 0; }
	#missing_children h2 { font-size: 30px; margin-bottom: 22px; line-height: 33px; }
	#missing_children h3  { font-size: 20px; }
	

	/* Header */ 
	
	header { width: 100%; top: 0; min-height: 78px; background: #fff; z-index: 100000000; }
	#top_bar { position: fixed; }
	header .fix_height_header { min-height: 80px; }
	#logo_col h1 { margin-bottom: 0; }
	#logo_col a { top: 23px; }
	.navbar-toggle { top: -11px; margin-right: 10px; }
	#top_bar a { font-size: 13px; padding: 0 10px; }
	#logo_col { max-width: 200px;  position: relative; left: 4px; top: 3px; }
	#logo_col img { }
	#header_search { display: none; }
	
	/* Footer */
	
	footer #social_footer a { width: 35px; height: 35px; margin-right: 3px; }
	footer #social_footer a i { line-height: 35px; font-size: 20px; }
		
	/* Buscador */

	#buscador { margin-bottom: 40px; }
	#buscador, 
	#buscador #slides, 
	#buscador #slides .slide { height: 280px ; }
	#buscador .inner_buscador > div { width: 100%; padding: 20px; }
	.col-xxs-12 { width: 100%; }
	
	#buscador .inner_buscador > div h2 { font-size: 20px; }
	
	/* Home */
	
	#grid_home { margin-bottom: 30px; }
	#grid_home .bajada { margin-bottom: 30px; }
	#grid_home .row .col-md-3:nth-child(even) { padding-left: 10px; }
	#grid_home .row .col-md-3:nth-child(odd) { padding-right: 10px; }
	#grid_home .box .heading h3 { font-size: 15px; padding: 0 6px; margin-bottom: 0; }
	#grid_home .box .heading span { font-size: 12px; }
	#grid_home .btn_guia { font-size: 13px; margin-bottom: 40px; }
	#notas_home { margin-bottom: 0; }
	#carousel-destacados-home .carousel-inner { width: 84%; margin: auto; height: 400px; }
	#carousel-destacados-home .carousel-inner .item .col-md-3 + .col-md-3 { display: none; }
	#destacados_home .carousel-control .fa-chevron-left { left: 0; font-size: 24px; }
	#destacados_home .carousel-control .fa-chevron-right { right: 0; font-size: 24px; }
	#listado_proveedores div { margin-bottom: 0; }
	
	/* Guia de Empresas */
	
	#guia_grid_wrapper .solapas { display: none; }
	#listado_header .btn { font-size: 10px; }
	#listado_header .btn i { display: none; }
	
	
	/* Footer */
	
	#newsletter p { text-align: center; }
	
	/* Listado */
	
	.box_listado { padding: 30px 0;}
	.box_listado.destacado { padding: 22px 14px;}
	.box_listado .img_wrapper { width: 100% !important; height: 150px !important ; float: none;  margin-bottom: 10px;  }
	.box_listado .info_wrapper { width: 100% !important; float: none; margin-left: 0 !important; padding-bottom: 0;  }
	.box_listado .bottom_actions { width: 100% !important; padding-right: 0 !important; padding-left: 0 !important; position: relative; bottom: 0; left: 0 !important; }
	.box_listado .bottom_actions .btn { width: 80%; display: inherit; margin: auto; float: none; }
	.box_listado .info_wrapper .descripcion { font-size: 14px; line-height: 17px; }
	.box_listado .info_wrapper h2,
	.box_listado .info_wrapper .subtitulo,
	.minisitio .box_listado .info_wrapper h3 { padding-right: 0; }
	.paginator  { border-top: 1px solid #ddd; padding-top: 16px; }
	.paginator div { width: 100%;  text-align: center; float: none;  }
	.paginator a { width: 25px; height: 25px; line-height: 25px; font-size: 12px; display: inline-block; float: none; }
	.paginator span { font-size: 14px; margin-bottom: 12px; display: block; }
	
	.box_listado .precio { top: 34px; right: 14px; }
	.listado .box_listado .precio  {  color: #fff !important; text-shadow: 0 0 4px #333; z-index: 1000; }
	.listado .box_listado .precio span { color: #fff !important;}
	
	.inc_paquete { float: none; overflow: hidden; margin-bottom: 20px;  }
	.listado_paquetes .box_listado .caract_paquete { margin-bottom: 14px; }
	.listado_paquetes .box_listado .caract_paquete span { width: auto; padding: 7px 10px; text-align: left; margin-bottom: 4px; }
	#gracias { padding: 20px;  }
	#gracias h3 { font-size: 21px; }
	#gracias .close { }
	
	/* Mapa Pre Salones */
		
	#mapa_prehome #mapa_wrapper a { font-size: 8px !important; line-height: 10px !important; }
	#mapa_prehome #mapa_wrapper a strong { font-size: 8px !important; }
	
	
	/* Minisitio */
	
	#carousel-destacados-home .carousel-inner .item .col-md-3 + .col-md-3 { display: none; }
	#header_minisitio .solapas li { width: 100%;  display: block; float: left; margin-right: 0; }
	#header_minisitio .solapas li a { border-right: 0; } 
	#resumen_minisitio .social .social_inner { top: 0; }
	#resumen_minisitio .social span { top: 0 !important; display: block; margin-bottom: 12px; margin-right: 0; float: none;  }
	/*#resumen_minisitio { height: 150px; }	*/
	#resumen_minisitio .col { height: auto; }
	#resumen_minisitio .direccion { display: none; }
	#resumen_minisitio .social { width: 100%; }
	#resumen_minisitio .button { margin-top: 10px; width: 100%; }

	#wrapper_minisitio h2 .actions a { display: none; }
	#content_minisitio .box_listado .img_wrapper  { height: 150px !important; }	
	#pp_minisitio .box_listado .img_wrapper { width: 150px !important; height: auto !important; }
	#testimonios_minisitio h2 .rating { display: none;  } 
	#content_minisitio .box_listado .precio { right: 0; }
	.listado_paquetes .caracteristicas_paquetes .info_caracteristicas { padding: 16px; }
	#minisitio_acciones img { width: 50%; }
	#header_minisitio #inner_header_minisitio .direccion { font-size: 14px !important; line-height: 16px; }
	
	
	/* Galerias */
	
	.galerias h1 { font-size: 24px;  }
	.galerias .carousel-control { bottom: 54px; }
	.carousel-inner, .carousel-inner .item img { height: auto !important; }
	.galeria_standard .big_pic .epigrafe { padding: 4px 0;}
	.galeria_standard .big_pic .epigrafe span {  font-size: 14px; }
	.galeria_standard .thumb_c,
	.galeria_standard .thumb_c.thumb_video::before, 
	.galeria_detalle .galeria_standard .thumb_c { height: 38px; }
	.galeria_standard .thumb_c, 
	.galeria_detalle .galeria_standard .thumb_c { width: 18%; }
	.galerias .galeria_standard .epigrafe h2 a { font-size: 16px !important; }
	.galerias .galeria_standard .epigrafe h2 span { line-height: 15px; margin-bottom: 0; position: relative; top: 2px; font-size: 10px; position: relative; top: 4px; }
	.carousel-control .fa-chevron-right,
	.carousel-control .fa-chevron-left { font-size: 24px; }
	.carousel-control .fa-chevron-right { right: 8px; }
	.carousel-control .fa-chevron-left { left: 8px; }
	.galeria_detalle .galeria_standard .big_pic .epigrafe .social { display: none; }
	
	/* Notas */
	
	.notas_home h1 { font-size: 28px; margin-bottom: 15px; }
	.notas_home .bloque_cat_notas .ver_todos { display: none; }
	.notas_home .bajada { font-size: 18px !important; margin-bottom: 26px; }
	.notas #nota_principal h2 { font-size: 24px; }
	#notas_boxes_bottom a { margin-bottom: 30px !important; }
	#notas_boxes_bottom div:last-child a { margin-bottom: 0 !important; }
	#notas_boxes_bottom img { width: 100% !important; }
	#nota_header_box div.autor, #nota_header_box div.fecha,
	#nota_header_box div { width: 100% !important; line-height: 40px !important; }
	
	/* Casamientos TV */
	
	#header_casamientos_tv iframe { height: 190px; }
	.casamientos tv .carousel-inner, 
	.casamientos tv .carousel-inner .item img { height: 190px !important; }
	#header_casamientos_tv .box { padding: 18px; }
	#header_casamientos_tv #nav_casamientos_tv { position: relative; top: 0; margin-left: 0; margin-bottom: 20px; overflow: hidden; }
	#header_casamientos_tv #nav_casamientos_tv a { width: 23px; height: 23px; line-height: 23px; font-size: 14px;  margin-left: 0; margin-right: 6px; }
	#grid_galeria #header_grid_galeria { height: auto; }
	#grid_galeria #header_grid_galeria select { width: 100%; float: none; margin-left: 0; margin-bottom: 12px; max-width: none; }
	#grid_galeria #header_grid_galeria h3 { float: none; top: 0; }

	.video_detalle #header_casamientos_tv .proveedor .data { margin-bottom: 14px; }
	.video_detalle #header_casamientos_tv .proveedor { padding-right: 0;  }
	.video_detalle #header_casamientos_tv .box .btn { float: none; padding: 8px 16px; font-size: 13px; position: relative; bottom: 0; right: 0; }
	
	/* Area Empresas */
	
	#iconos_numeros .row strong { font-size: 30px; }
	.contacto_proveedor .container { padding-top: 30px;}
	.contacto .contacto_intro .big { font-size: 19px; line-height: 24px; }
	.expo_novias_proveedor #cont_video { height: 300px; } 
	.expo_novias_proveedor #logo_jornadas { width: 250px; height: 85px; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-size: 100%; }
	.expo_novias_proveedor #banda_fecha h2 { font-size: 24px; }
	.expo_novias_proveedor #banda_fecha h2 strong { font-size: 32px; display: block; }
	.expo_novias_proveedor #banda_fecha h2 strong:after { height: 22px; }
	.expo_novias_proveedor #banda_fecha{ background: #E13B5F; height: auto; }
	.expo_novias_proveedor #banda_fecha h2 strong:after { display: none; }
	.expo_novias_proveedor #banda_fecha h2 span { border-top: 1px solid rgba(255,255,255,0.3); margin: 0 20px; padding: 12px; margin-top: 13px; }
	.expo_novias_proveedor #banda_fecha { margin-bottom: 36px;} 
	.expo_novias_proveedor #participar h2 { margin-bottom: 60px; line-height: 30px; font-size: 27px; }
	#slider_empresas { display: none; }
	.expo_novias_proveedor #intro h1 { font-size: 38px; line-height: 40px; margin-bottom: 20px;  }
	.expo_novias_proveedor #testimonios_jornada h2 { font-size: 24px; }
	.expo_novias_proveedor #testimonios_jornada li { padding: 20px 0; }
	.expo_novias_proveedor #numeros_jornada strong { font-size: 24px; }
	.expo_novias_proveedor #numeros_jornada .btn { font-size: 12px; padding: 12px 18px; }
	.prensa .tipos_de_medio i { display: none; }
	.prensa .tipos_de_medio a { padding-left: 20px; }
	#capturas_portal_panel #el_panel { padding-bottom: 20px; }
	.expo_novias_proveedor #testimonios_jornada .ver_mas { font-size: 15px; padding: 8px 25px; }
	
	/* Eventos */
	
	#bottom_header_eventos h2 { font-size: 22px; margin-bottom: 14px; }
	#bottom_header_eventos p span { font-size: 16px; margin-bottom: 4px;}
	#te_de_novias_eventos .col-md-4 { width: 100%; }
	#te_de_novias_eventos p { margin-bottom: 18px; }
	#te_de_novias_eventos .btn { margin-bottom: 40px; }
	#intro_jornada h2 { font-size: 30px; line-height: 34px;  margin-bottom: 21px; }
	#intro_jornada .big_txt { font-size: 22px; line-height: 24px; }
	#form_jornadas_registro { padding: 20px; }
	#intro_jornada #sponsors_jornada_registro span { font-size: 19px; margin-bottom:  20px; display: block; }
	.jornadas_anteriores h1 { font-size: 31px; } 
	.jornadas_anteriores .content h2 { font-size: 20px; line-height: 24px; }
	#intro_jornada #info_jornada img { width: 15%; margin-right: 3%; }
	#intro_jornada #info_jornada h4 { font-size: 18px; }
	#intro_jornada #info_jornada p { font-size: 15px; }
	#intro_jornada #info_jornada .data { width: 82%; }
	#iconos_jornada_eventos h3 { font-size: 12px; }
	
	/* Resultados de Busqueda */ 

	#resultados_busqueda_wrapper .solapas { margin-bottom: 20px; }
	#resultados_busqueda_wrapper .solapas li { width: 48%; margin-right: 4%; display: block; float: left; margin-bottom: 12px; }
	#resultados_busqueda_wrapper .solapas li:nth-child(3n) { margin-right: 4%; }
	#resultados_busqueda_wrapper .solapas li:nth-child(2n) { margin-right: 0; }
	#resultados_busqueda_wrapper #notas_listado_segundo_nivel .busqueda_title,
	#resultados_busqueda_wrapper .listado_proveedores .busqueda_title { margin-bottom: 10px; }
	#resultados_busqueda_wrapper .busqueda_title { padding: 14px 18px; }
	
	/* Notas */
	
	#notas_listado_segundo_nivel .social { width: 50%; }
	#notas_listado_segundo_nivel .actions > a { width: 50%; }
	#nota_header_box div { border-right: 0; }	
	#notas_navigation a { width: 100%; float: none; font-size: 16px; margin-bottom: 10px; }
	#notas_navigation a i { top: 25px; }
	.nota_detalle .bajada { font-size: 18px !important; line-height: 21px; }
	
	/* Ceremonias */
	
	#boxes_ceremonias span { font-size: 26px; line-height: 30px; }
	.datos_utiles_wrapper div { padding: 20px; }
	.datos_utiles_wrapper .icon { display: none; }
	.directorio .filtro select { font-size: 14px; width: 90px; }
	.directorio .filtro h2 { font-size: 18px; }
	
	/* Popup */
	
	#popup_foto_wrapper { width: 92%; }
	#popup_foto_wrapper .modal-body .next { right: -6px; }
	#popup_foto_wrapper .modal-footer { text-align: inherit;  }
	#popup_foto_wrapper .modal-footer #data_proveedor { float: none; max-width: none; padding-bottom: 0 !important; }
	#popup_foto_wrapper .modal-footer .btn { float: none; display: block; }
	
	

}  
  





